@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&amp;display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

/* Variables
------------------------------------------------ */

:root {
    --color-accent-1: #0027e6;
    --color-accent-2: #031980;
    --color-accent-3: #2f60ff;
    --color-accent-4: #f3de00;
    --color-light-1: #fff;
    --color-light-2: #ddd;
    --color-text: #ddd;
}

/* Main
------------------------------------------------ */

body {
    background: var(--color-accent-2);
    color: var(--color-light-1);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    transition: .1s ease-in-out;
}

a:hover {
    color: var(--color-accent-4);
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.fade-no-duration {
    opacity: 0;
    visibility: hidden;
}

/* Fader
------------------------------------------------ */

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    pointer-events: none;
    background: var(--color-accent-2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#fader.fade-out-f {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in-f {
    opacity: 1;
    animation-name: fade-in;
}

/* List
------------------------------------------------ */

.k-list {
	padding-left: 25px;
}

.k-list li {
	position: relative;
	margin-bottom: .65em;
}

.k-list li::before {
	position: absolute;
	content: "";
	top: 0.35em;
	left: -25px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #267ff9
}

/* Spacings
------------------------------------------------ */

.h-100vh {
    min-height: 100vh
}

.pt-xxlarge {
    padding-top: 200px
}
.pt-xlarge {
    padding-top: 150px
}
.pt-large {
    padding-top: 120px
}
.pt-medium {
    padding-top: 90px
}
.pt-small {
    padding-top: 60px
}
.pt-xsmall {
    padding-top: 30px
}

.pb-xlarge {
    padding-bottom: 150px
}
.pb-large {
    padding-bottom: 120px
}
.pb-medium {
    padding-bottom: 90px
}
.pb-small {
    padding-bottom: 60px
}
.pb-xsmall {
    padding-bottom: 30px
}

.py-medium {
    padding-top: 90px;
    padding-bottom: 90px
}

.pl-2 {
    padding-left: 2em
}
.pl-3 {
    padding-left: 3em
}
.pl-5 {
    padding-left: 5em
}
.pr-2 {
    padding-right: 2em
}
.pr-3 {
    padding-right: 3em
}
.pr-5 {
    padding-right: 5em
}

.mt-minus-medium {
    margin-top: -90px
}
.mt-minus-large {
    margin-top: -120px
}
.mb-minus-xlarge {
    margin-bottom: -180px
}
.mb-minus-large {
    margin-bottom: -120px
}

@media(min-width:767px) {
    .h-md-100vh {
        min-height: 100vh
    }
    .p-md-0 {
        padding: 0
    }
    .pt-md-xxlarge {
        padding-top: 200px
    }
    .pt-md-xlarge {
        padding-top: 150px
    }
    .pt-md-large {
        padding-top: 120px
    }
    .pt-md-medium {
        padding-top: 90px
    }
    .pt-md-small {
        padding-top: 60px
    }
    .pt-md-xsmall {
        padding-top: 30px
    }
    .pb-md-xlarge {
        padding-bottom: 150px
    }
    .pb-md-large {
        padding-bottom: 120px
    }
    .pb-md-medium {
        padding-bottom: 90px
    }
    .pb-md-small {
        padding-bottom: 60px
    }
    .pb-md-xsmall {
        padding-bottom: 30px
    }
    .pl-md-5 {
        padding-left: 5em
    }
    .pr-md-5 {
        padding-right: 5em
    }
    .pr-md-8 {
        padding-right: 8em
    }
    .pr-md-10 {
        padding-right: 10em
    }
    .w-md-75 {
        width: 75%
    }
    .w-md-120 {
        width: 120%
    }
    .w-md-200 {
        width: 200%
    }
    .w-md-250 {
        width: 250%
    }
}

@media(min-width:1200px) {
    .pt-xl-xlarge {
        padding-top: 150px
    }
    .pt-xl-large {
        padding-top: 120px
    }
    .pt-xl-medium {
        padding-top: 90px
    }
    .pt-xl-small {
        padding-top: 60px
    }
    .pl-xl-0 {
        padding-left: 0
    }
    .pr-xl-5 {
        padding-right: 5em
    }
    .pr-xl-10 {
        padding-right: 10em
    }
}


/* Typography 
------------------------------------------ */

h1, .h1 {
    font-size: 48px;
    font-weight: 700;
}

h2, .h2 {
    font-size: 28px;
    font-weight: 600;
}

.big-text {
    font-size: 22vw;
    line-height: .8;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 2px 15px #1111118f
}

.big-text .char-wrap:nth-child(1),
.big-text .char-wrap:nth-child(3),
.big-text .char-wrap:nth-child(5) {
    position: relative;
    z-index: 999;
}

p {
    line-height: 1.6;
    color: var(--color-text);
}

li {
    color: var(--color-text);
}

.big-paragraph {
    font-size: 19px;
}

.char-wrap {
    overflow: hidden;
}
.split-text-letters-load .char {
    transform: translateY(100%)
}

@media(min-width:767px) {
    h1, .h1 {
        font-size: clamp(48px, 6vw, 78px);
    }
    
    h2, .h2 {
        font-size: clamp(28px, 3vw, 44px);
    }
    .big-text {
        font-size: clamp(120px, 20vw, 300px);
    }
    .big-paragraph {
        font-size: 22px;
    }
}

/* Site header
------------------------------------------- */

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999
}

.logo-wrapper {
    margin-top: 40px;
}

.desktop-menu ul {
    padding-left: 0;
    text-align: end;
}

.desktop-menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 0;
}

.desktop-menu ul li a {
    display: inline-block;
    padding: 65px 20px 25px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-light-1);
    transition: .2s ease-in-out;
}

.desktop-menu ul li a:hover,
.desktop-menu ul li a.active {
    background: var(--color-accent-1)
}

@media(min-width:1400px) {
    .logo-wrapper {
        padding-left: 20%;
    }
    .desktop-menu ul li a {
        padding: 65px 30px 25px;
    }
}




  
  /* Navigation
  --------------------------*/

  .menu-toggle {
    margin-top: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .menu-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none; /* if using anchor */
}

.hamburger path {
    fill: none;
    stroke: var(--color-light-1);
    stroke-linecap: round;
}

.fullpage-menu {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 5em;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 9999
}

.fullpage-menu-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0 80px;
}

.menu-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-light-2);
    backdrop-filter: blur(15px);
    opacity: 0
}

.mobile-menu ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center
}

.mobile-menu li {
    margin-bottom: 0;
    line-height: 1.2!important;
    overflow: hidden;
}

.mobile-menu li + li {
    margin-top: 2.2em
}

.mobile-menu li a {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    letter-spacing: 2px;
    color: #222;
    transform: translateY(35px);
}

.mobile-menu li a span {
    position: relative;
    display: block;
}

@media(min-width:1200px) {
	.menu-toggle {
        display: none
      }
}




/* Hero main
------------------------------------------- */

.hero-main {
    background: url("/assets/images/hero-main-2.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    box-shadow: inset 0 -60px 60px var(--color-accent-2);
}

.hero-main h1,
.hero-main p {
    color: var(--color-light-1);
}

.hero-main-wrap {
    position: relative;
}

.kayak-wrap {
    position: absolute;
    top: 12%;
    left: 15%;
    width: 85%
}


/* Hero page
------------------------------------------- */

.hero-page {
    background: url("/assets/images/hero-main.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    box-shadow: inset 0 -60px 60px var(--color-accent-2);
}

.hero-page-title {
    color: var(--color-light-1);
}

.hero-page-breadcrumbs a,
.hero-page-breadcrumbs span {
    font-size: 12px;
    color: var(--color-light-2);
}

.hero-page-description p {
    color: var(--color-light-2);
}




/* About section
------------------------------------------- */






/* Site footer
------------------------------------------- */

.site-footer {
    background: url("/assets/images/footer-2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset 0 60px 60px var(--color-accent-2);
}

.footer-widget-title {
    color: var(--color-light-1);
}

.footer-widget p,
.footer-widget a,
.footer-widget li {
    color: #eee;
}

.footer-widget li {
    margin-bottom: 1em;
}

.footer-copyright p {
    font-size: 12px;
    color: #ddd;
}

.footer-widget i {
    width: 20px;
}