  <!-- Footer -->
  <footer class="bixol-footer h6-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bixol-footer-widget">
                    <a href="index.html" class="footer-logo"><img src="assets/images/logo-white.png" alt=""></a>
                    <p>We work with a passion of taking challenges and creating new ones in advertising sector.</p>
                    <div class="footer-office-time">
                        <h6>Open Hours:</h6>
                        <span>Mon - Sat: 8am - 5pm,</span>
                        <span>Sunday: CLOSED</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bixol-footer-widget">
                    <h4>Official Address</h4>
                    <div class="bixol-footer-address">
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i>30 Commercial Road <br>Fratton, Australia</li>
                            <li><i class="fas fa-phone"></i>1-888-452-1505</li>
                            <li><i class="fas fa-envelope"></i>envato@gmail.com<br>info@mail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bixol-footer-widget">
                    <h4>Latest Articles</h4>
                    <div class="latest-blog">
                        <div class="thumb-wrapper">
                            <div class="thumb">
                                <a href="blog-details.html"><img src="assets/images/home6/blog-4.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="blog-details.html"><h6>Summer is idea for cleaning</h6></a>
                            <div class="blog-meta">
                                <span><i class="fas fa-calendar-alt"></i>6 Nov 2019</span>
                                <span><i class="far fa-comment"></i>6 Nov 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="latest-blog">
                        <div class="thumb-wrapper">
                            <div class="thumb">
                                <a href="blog-details.html"><img src="assets/images/home6/blog-5.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="blog-details.html"><h6>Summer is idea for cleaning</h6></a>
                            <div class="blog-meta">
                                <span><i class="fas fa-calendar-alt"></i>6 Nov 2019</span>
                                <span><i class="far fa-comment"></i>6 Nov 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bixol-footer-widget">
                    <h4>Newsletter</h4>
                    <p>Subscribe our newsletter to get our latest update & news</p>
                    <div class="bixol-footer-form">
                        <form action="#">
                            <input type="email" placeholder="Your mail adress">
                            <button type="submit"><i class="far fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <div class="bixol-footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>2023 &copy; Wszelkie prawa <a href="#">zastrzeżone</a></p>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Javascript Files -->
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/slick.min.js"></script>
<script src="assets/js/vendor/easing.min.js"></script>
<script src="assets/js/vendor/wow.min.js"></script>
<script src="assets/js/vendor/before-after.js"></script>
<script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="assets/js/vendor/odometer.min.js"></script>
<script src="assets/js/vendor/isotope.pkgd.js"></script>
<script src="assets/js/vendor/piechart.js"></script>
<script src="assets/js/vendor/appear.js"></script>
<script src="assets/js/vendor/rbtools.min.js"></script>
<script src="assets/js/vendor/rs6.min.js"></script>
<script src="assets/js/main.js"></script>

<script>
    var	tpj = jQuery;
    if(window.RS_MODULES === undefined) window.RS_MODULES = {};
    if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
    RS_MODULES.modules["revslider61"] = {init:function() {
        window.revapi6 = window.revapi6===undefined || window.revapi6===null || window.revapi6.length===0  ? document.getElementById("rev_slider_6_1") : window.revapi6;
        if(window.revapi6 === null || window.revapi6 === undefined || window.revapi6.length==0) { window.revapi6initTry = window.revapi6initTry ===undefined ? 0 : window.revapi6initTry+1; if (window.revapi6initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider61"].init()}); return;}
        window.revapi6 = jQuery(window.revapi6);
        if(window.revapi6.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_6_1"); return;}
        revapi6.revolutionInit({
                revapi:"revapi6",
                sliderLayout:"fullwidth",
                visibilityLevels:"1240,1024,778,480",
                gridwidth:"1230,1024,778,480",
                gridheight:"840,840,540,480",
                spinner:"spinner0",
                perspective:600,
                perspectiveType:"global",
                keepBPHeight:true,
                editorheight:"840,840,540,480",
                responsiveLevels:"1240,1024,778,480",
                progressBar:{disableProgressBar:true},
                navigation: {
                    onHoverStop:false
                },
                parallax: {
                    levels:[6,8,20,20,25,12,16,4,45,46,14,18,49,50,51,30],
                    type:"mouse",
                    origo:"slidercenter",
                    speed:0
                },
                viewPort: {
                    global:false,
                    globalDist:"-200px",
                    enable:false
                },
                fallbacks: {
                    allowHTML5AutoPlayOnAndroid:true
                },
        });
        
    }}
    if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
</script>

</body>

</html>