  <footer class="site-footer pt-xlarge pb-xsmall">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <a href="index.html" class="footer-logo">
                        <img src="/assets/images/logo/kajaki-logo-biel.png" alt="">
                        </a>
                        <p class="mt-4">We work with a passion of taking challenges and creating new ones in advertising sector.</p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title mb-4">Adres</h4>
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i> ul. Nowy Zjazd 4a, 05-660 Warka</li>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <a href="tel:{{ collections.settings[0].data.site_phone }}">
                                        {{ collections.settings[0].data.site_phone }}
                                    </a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:{{ collections.settings[0].data.site_mail }}">
                                        {{ collections.settings[0].data.site_mail }}
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title mb-4">Godziny pracy</h4>
                            <ul>
                                <li>Pon - Pt: 10.00 - 19.00</li>
                                <li>Sob - Nd: 10.00 - 19.00</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright pt-medium">
            <div class="container">
                <p>2023 &copy; Wszelkie prawa zastrzeżone </p>
            </div>
        </div>
</footer>
</div>

<script src="assets/js/vendor/split.js"></script>
<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>

<script src="assets/js/custom.js"></script>

<script src="/assets/js/glightbox.min.js"></script>
<script>
   const lightbox = GLightbox({
   touchNavigation: true,
   loop: false,
   autoplayVideos: true
});
</script>
</body>
</html>