  <footer class="site-footer pt-xlarge pb-xsmall">
        <div class="container pb-medium">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget border-right">
                        <h3 class="h4 footer-widget-title mt-0 mb-4">Mapa strony</h3>
                            <ul>
                                <li>
                                    <a href="/polityka-prywatnosci" class="d-flex justify-content-between align-items-center no-trans"
                                    title="Polityka prywatności">
                                        Polityka prywatności
                                        <svg class="link-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="/regulamin" class="d-flex justify-content-between align-items-center no-trans"
                                    title="Regulamin">
                                        Regulamin
                                        <svg class="link-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="/rodo" class="d-flex justify-content-between align-items-center no-trans"
                                    title="Rodo">
                                        Rodo
                                        <svg class="link-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget border-right">
                        <h3 class="h4 footer-widget-title mt-0 mb-4">Skontaktuj się</h3>
                            <ul>
                                <li>
                                    <a href="tel:{{ collections.settings[0].data.site_phone }}" class="d-flex justify-content-between align-items-center no-trans"
                                    title="Zadzwoń">
                                        {{ collections.settings[0].data.site_phone }}
                                        <svg class="link-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:{{ collections.settings[0].data.site_mail }}" class="d-flex justify-content-between align-items-center no-trans"
                                    title="Wyślij wiadomość">
                                        {{ collections.settings[0].data.site_mail }}
                                        <svg class="link-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
                                    </a>
                                </li>
                                <li>ul. Nowy Zjazd 4a, 05-660 Warka</li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="h4 footer-widget-title mt-0 mb-4">Godziny pracy</h3>
                            <ul>
                                <li>Pon - Nd: 8.00 - 21.00</li>
                            </ul>
                            <a href="https://www.facebook.com/Kajaki24" class="no-trans" title="Facebook" rel="nofollow" target="_blank">
                            <svg width="32" height="32" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M28 14.0351C28 6.28772 21.728 0 14 0C6.272 0 0 6.28772 0 14.0351C0 20.8281 4.816 26.4842 11.2 27.7895V18.2456H8.4V14.0351H11.2V10.5263C11.2 7.81754 13.398 5.61403 16.1 5.61403H19.6V9.82456H16.8C16.03 9.82456 15.4 10.4561 15.4 11.2281V14.0351H19.6V18.2456H15.4V28C22.47 27.2982 28 21.3193 28 14.0351Z" fill="white"/>
</svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright pt-xsmall">
            <div class="container">
                    <div class="row">
                      <div class="col-6">
                        <p class="mb-0">{% getYear %} &copy; Wszelkie prawa zastrzeżone </p>
                      </div>
                      <div class="col-6">

                      </div>
                    </div>
            </div>
        </div>
</footer>
</div>

<script src="/assets/js/vendor/split.js"></script>
<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/glide.js"></script>
<script>
if(document.querySelector("#glide1")) {
  new Glide('#glide1', {
	type: 'carousel',
	perView: 1,
    autoplay: 3000,
    hoverpause: true
}).mount();
}
</script>
<script src="/assets/js/glightbox.min.js"></script>
<script>
   const lightbox = GLightbox({
   touchNavigation: true,
   loop: false,
   autoplayVideos: true
});
</script>
<script defer src="/assets/js/cookieconsent.js"></script>
<script defer src="/assets/js/cookieconsent-init.js"></script>
<script>
const modals = document.querySelectorAll("[data-modal]");
modals.forEach(function (trigger) {
  trigger.addEventListener("click", function (event) {
    event.preventDefault();
    const modal = document.getElementById(trigger.dataset.modal);
    modal.classList.add("open");
    const exits = modal.querySelectorAll(".modal-exit");
    exits.forEach(function (exit) {
      exit.addEventListener("click", function (event) {
        event.preventDefault();
        modal.classList.remove("open");
      });
    });
  });
});
</script>
<div class="modal" id="modal-one">
  <div class="modal-bg modal-exit"></div>
  <div class="modal-container">
    <img src="{{ collections.settings[0].data.voucher | url }}" alt="Kajaki24 - Voucher">
    <span class="modal-close modal-exit">X</span>
  </div>
</div>

<!-- Messenger Wtyczka czatu Code -->
    <div id="fb-root"></div>

    <!-- Your Wtyczka czatu code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "254297631385637");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v17.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pl_PL/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
     const transWrap = document.querySelector("body");

setTimeout(function () {
  return transWrap.classList.add('render');
}, 60);

var navlinks = Array.from(document.querySelectorAll('a:not(.no-trans)'));

var navigate = function navigate(linkEl) {
  transWrap.classList.remove('render');
  transWrap.addEventListener('transitionend', function () {
    if (linkEl.href) {
      window.location = linkEl.href;
    }
  });
};

navlinks.forEach(function (link) {
  return link.addEventListener('click', function (ev) {
    ev.preventDefault();
    navigate(ev.target);
  });
});

    </script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "TravelAgency",
      "name": "Kajaki24 Warka",
      "image": "https://kajaki24.com.pl/assets/images/opengraph.jpg",
      "@id": "",
      "url": "https://kajaki24.com.pl/",
      "telephone": "+48 733 240 024",
      "priceRange": "100 - 150",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Nowy Zjazd 4a",
        "addressLocality": "Warka",
        "postalCode": "05-660",
        "addressCountry": "PL"
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
      },
      "sameAs": "https://www.facebook.com/Kajaki24" 
    }
</script>   
</body>
</html>
