
<!DOCTYPE html>
<html lang="pl">
    
<head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Page Title -->
        <title>Bixol - Cleaning HTML5 Template</title>

        <!-- Favicon Icon -->
        <link rel="shortcut icon" href="favicon.png">

        <!-- CSS Files -->
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/fontawesome.css">
        <link rel="stylesheet" href="/assets/css/flaticon.css">
        <link rel="stylesheet" href="/assets/css/slick.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/odometer-theme-car.css">
        <link rel="stylesheet" href="/assets/css/rs6.css">
        <link rel="stylesheet" href="/assets/css/style.css">

    </head>

    <body>
        <!-- Preloader Starts 
        <div id="ct-loadding">
            <div class="loading-infinity">
                <div> <span></span></div>
                <div><span></span></div>
                <div> <span></span></div>
            </div>
        </div>
        Preloader End -->

        <!-- ScrollTop Button -->
        <a href="#" class="scrolltop-btn"><span><i class="flaticon-arrow"></i></span></a>

        <!-- Header Area -->
        <header class="bixol-header header-style-2 header-style-4 header-style-6">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-6">
                        <div class="logo-wrapper">
                            <a href="#" class="desktop-logo"><img src="/assets/images/logo.jpg" alt=""></a>
                            <a href="#" class="responsive-logo"><img src="/assets/images/logo-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-7 desktop-menu-wrapper">
                        <div class="desktop-menu">
                            <nav>
                                <ul>
                                    <li class="has-submenu"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="/index-8">Homepage 1</a></li>
                                            <li><a href="/index-2">Homepage 2</a></li>
                                            <li><a href="/index-3">Homepage 3</a></li>
                                            <li><a href="/index-4">Homepage 4</a></li>
                                            <li><a href="/index-5">Homepage 5</a></li>
                                            <li><a href="/index-6">Homepage 6</a></li>
                                            <li><a href="/index-7">Homepage 7</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu"><a href="#">Services</a>
                                        <ul>
                                            <li><a href="services">Services 1</a></li>
                                            <li><a href="services-v2">Services 2</a></li>
                                            <li><a href="services-v3">Services 3</a></li>
                                            <li><a href="service-details">Service Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="about">About</a></li>
                                            <li><a href="about-v2">About V2</a></li>
                                            <li><a href="faq">Faq</a></li>
                                            <li><a href="pricing">Pricing</a></li>
                                            <li><a href="team">Team</a></li>
                                            <li><a href="reviews">Reviews</a></li>
                                            <li><a href="404">404 page</a></li>
                                                <li><a href="coming-soon">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu"><a href="#">Portfolio</a>
                                        <ul>
                                            <li><a href="portfolio">Portfolio</a></li>
                                            <li><a href="portfolio-details">Portfolio Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog">Blog</a></li>
                                            <li><a href="blog-details">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu"><a href="contact">Contact</a>
                                        <ul>
                                            <li><a href="contact">Contact</a></li>
                                            <li><a href="contact-v2">Contact V2</a></li>
                                            <li><a href="contact-v3">Contact V3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="header-right">
                            <div class="header-btn">
                                <a href="#">Book now</a>
                            </div>
                            <div class="bixol-mobile-hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End -->

         <!-- Mobile Menu -->
         <div class="bixol-mobile-menu">
            <a href="/index" class="mobile-menu-logo"><img src="/assets/images/logo.html" alt=""></a>
            <ul>
                <li class="has-submenu"><a href="#">Home</a>
                    <ul>
                        <li><a href="/index-8">HomePage 1</a></li>
                        <li><a href="/index-2">HomePage 2</a></li>
                        <li><a href="/index-3">HomePage 3</a></li>
                        <li><a href="/index-4">HomePage 4</a></li>
                        <li><a href="/index-5">HomePage 5</a></li>
                        <li><a href="/index-6">HomePage 6</a></li>
                        <li><a href="/index-7">HomePage 7</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="#">Services</a>
                    <ul>
                        <li><a href="/services">Services </a></li>
                        <li><a href="/services-v2">Services V2 </a></li>
                        <li><a href="/services-v3">Services V3</a></li>
                        <li><a href="/service-details">Services Details</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="#">Pages</a>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/about-v2">About V2</a></li>
                        <li><a href="/faq">Faq</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                        <li><a href="/404">404 page</a></li>
                        <li><a href="/coming-soon">Coming Soon</a></li>
                    </ul>                
                </li>
                <li class="has-submenu"><a href="#">Portfolio</a>
                    <ul>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/portfolio-details">Portfolio Details</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Mobile Menu End -->