<!DOCTYPE html>
<html lang="pl">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W2KGXL9N');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Przemek Miros">
    <meta name="google-site-verification" content="I86vpo9DDssdamfyQUbpHH2cr6g2YvSezT6Rk95VjUs" />
    <title>{{ title }} - Kajaki Warka | Spływy Pilicą</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="Kajaki Warka">
    <meta property="og:site_name" content="Spływy kajakowe Pilicą - Warka">
    <meta property="og:url" content="https://kajaki24.com.pl">
    <meta property="og:description"
        content="Kajaki24 Warka to wypożyczalnia kajaków która kompleksowo zorganizuje wypoczynek na rzece i nie tylko. Przeżyj wspaniałą przygodę nad Pilicą">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://kajaki24.com.pl/assets/images/opengraph.jpg">
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/glightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.1/css/glide.core.css">
    <link rel="stylesheet" href="/assets/css/cookieconsent.css" media="print" onload="this.media='all'">
    
    <style>
        .preloader {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 100vw;
          height: 100vh;
          background: var(--color-accent-1);
          transition: all 0.25s ease-out;
          overflow: hidden;
          pointer-events: none;
          z-index: 10000000;
        }
        .preloader_inner {
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          z-index: 10000000;
        }
        .scrollContainer {
          opacity: 0;
          transition: opacity 0.25s ease-out;
        }
  
        .circle-loader {
          position: relative;
          width: auto;
          height: auto;
        }
  
        .circle-loader div {
          height: 10px;
          width: 10px;
          background-color: var(--color-light-1);
          border-radius: 50%;
          position: absolute;
          -webkit-animation: 0.8s opaque ease-in-out infinite both;
          animation: 0.8s opaque ease-in-out infinite both;
        }
  
        .circle-loader div:nth-child(1) {
          top: -25px;
          left: 0;
        }
        .circle-loader div:nth-child(2) {
          top: -17px;
          left: 17px;
          -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
        }
        .circle-loader div:nth-child(3) {
          top: 0;
          left: 25px;
          -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
        }
        .circle-loader div:nth-child(4) {
          top: 17px;
          left: 17px;
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
        }
        .circle-loader div:nth-child(5) {
          top: 25px;
          left: 0;
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
        }
        .circle-loader div:nth-child(6) {
          top: 17px;
          left: -17px;
          -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
        }
        .circle-loader div:nth-child(7) {
          top: 0;
          left: -23px;
          -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
        }
        .circle-loader div:nth-child(8) {
          top: -17px;
          left: -17px;
          -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
        }
  
        @keyframes opaque {
          0% {
            opacity: 0.1;
          }
          40% {
            opacity: 1;
          }
          80% {
            opacity: 0.1;
          }
          100% {
            opacity: 0.1;
          }
        }
      </style>

</head>
<body class="page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2KGXL9N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="h-100h">
        <div class="preloader">
          <div class="preloader_inner">
            <div class="circle-loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
    </div>
    <div class="fixed-button">
        <a href="tel:{{ collections.settings[0].data.site_phone }}" class="fixed-phone no-trans" title="Zadzwoń">
            <span class="fixed-phone-icon">
                <svg viewBox="0 0 96 96" width="33" height="33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_66_3)">
                    <path d="M80 62C75 62 70.2 61.2 65.72 59.72C64.32 59.28 62.76 59.6 61.64 60.68L52.84 69.48C41.52 63.72 32.24 54.48 26.48 43.12L35.28 34.28C36.4 33.24 36.72 31.68 36.28 30.28C34.8 25.8 34 21 34 16C34 13.8 32.2 12 30 12H16C13.8 12 12 13.8 12 16C12 53.56 42.44 84 80 84C82.2 84 84 82.2 84 80V66C84 63.8 82.2 62 80 62ZM76 48H84C84 28.12 67.88 12 48 12V20C63.48 20 76 32.52 76 48ZM60 48H68C68 36.96 59.04 28 48 28V36C54.64 36 60 41.36 60 48Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_66_3">
                    <rect width="96" height="96" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>                    
            </span>
            <span class="fixed-phone-number">{{ collections.settings[0].data.site_phone }}</span>
        </a>
    </div> 
    <div class="modal-link-wrap d-none d-md-block">
        <button class="modal-link" data-modal="modal-one">Voucher</button>
    </div> 
    <div class="page fade-no-duration" id="wrapper">
        <script>
            var obj = document.querySelector('.preloader'),
              page = document.querySelector('#wrapper');
    
            window.addEventListener("load", function () {
              obj.style.opacity = "0";
              page.style.opacity = "1";
            });
          </script>
        <header class="site-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-9 col-sm-5 col-xl-4">
                        <div class="logo-wrapper d-flex align-items-center">
                            <a href="/" title="Strona główna" class="no-trans">
                                <img src="{{ collections.settings[0].data.site_logo | url }}"
                                    alt="Kajaki24 Warka - Logo">
                            </a>
                            <a href="https://www.facebook.com/Kajaki24" class="no-trans menu-fb-icon" title="Facebook" rel="nofollow"
                            target="_blank">
                            <svg width="32" height="32" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M28 14.0351C28 6.28772 21.728 0 14 0C6.272 0 0 6.28772 0 14.0351C0 20.8281 4.816 26.4842 11.2 27.7895V18.2456H8.4V14.0351H11.2V10.5263C11.2 7.81754 13.398 5.61403 16.1 5.61403H19.6V9.82456H16.8C16.03 9.82456 15.4 10.4561 15.4 11.2281V14.0351H19.6V18.2456H15.4V28C22.47 27.2982 28 21.3193 28 14.0351Z"
                                fill="white" />
                            </svg>
                          </a>
                        </div>
                    </div>
                    <div class="col-3 col-sm-7 col-xl-8">
                        <div class="desktop-menu-wrap d-flex justify-content-end">
                            <nav class="desktop-menu d-none d-xl-block">
                                <ul>
                                    <li {% if page.url === "/cennik/" %}class="active" {% endif %}>
                                        <a href="/cennik/" class="trans-link" title="Cennik">Cennik</a>
                                    </li>
                                    <li {% if page.url === "/splywy-kajakowe-dla-szkol/" %}class="active" {% endif %}>
                                        <a href="/splywy-kajakowe-dla-szkol/" class="trans-link" title="Spływy kajakowe dla szkół">Oferta dla szkół</a>
                                    </li>
                                    <li {% if page.url === "/splywy-kajakowe-dla-firm/" %}class="active" {% endif %}>
                                        <a href="/splywy-kajakowe-dla-firm/" class="trans-link" title="Spływy kajakowe dla firm">Oferta dla firm</a>
                                    </li>
                                    <li {% if page.url === "/galeria/" %}class="active" {% endif %}>
                                        <a href="/galeria/" class="trans-link" title="Galeria"
                                            >Galeria</a>
                                    </li>
                                    <li {% if page.url === "/porady/" %}class="active" {% endif %}>
                                        <a href="/porady/" class="trans-link" title="Porady"
                                            >Porady</a>
                                    </li>
                                    <li {% if page.url === "/kontakt/" %}class="active" {% endif %}>
                                        <a href="/kontakt/" class="trans-link" title="Kontakt">Kontakt</a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="menu-toggle" id="menuToggle" aria-controls="primary-menu"
                                aria-label="Navigation" aria-expanded="false">
                                <svg viewBox="0 0 12 10" class="hamburger" height="40px" width="40px">
                                    <path d="M10,2 L2,2" class="bar-1"></path>
                                    <path d="M2,5 L10,5" class="bar-2"></path>
                                    <path d="M10,8 L2,8" class="bar-3"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="fullpage-menu">
            <div class="fullpage-menu-inner">
                <div class="menu-bg"></div>
                <nav>
                    <div class="mobile-menu">
                        <ul id="menu-mobile-menu" class="menu">
                            <li {% if page.url === "/cennik/" %}class="active" {% endif %}>
                                <a href="/cennik/" class="trans-link" title="Cennik">Cennik</a>
                            </li>
                            <li {% if page.url === "/splywy-kajakowe-dla-szkol/" %}class="active" {% endif %}>
                                <a href="/splywy-kajakowe-dla-szkol/" class="trans-link" title="Spływy kajakowe dla szkół">Oferta dla szkół</a>
                            </li>
                            <li {% if page.url === "/splywy-kajakowe-dla-firm/" %}class="active" {% endif %}>
                                <a href="/splywy-kajakowe-dla-firm/" class="trans-link" title="Spływy kajakowe dla firm">Oferta dla firm</a>
                            </li>
                            <li {% if page.url === "/regulamin-splywu/" %}class="active" {% endif %}>
                                <a href="/regulamin-splywu/" class="trans-link" title="Regulamin">Regulamin</a>
                            </li>
                            <li {% if page.url === "/galeria/" %}class="active" {% endif %}>
                                <a href="/galeria/" class="trans-link" title="Galeria"
                                    >Galeria</a>
                            </li>
                            <li {% if page.url === "/kontakt/" %}class="active" {% endif %}>
                                <a href="/kontakt/" class="trans-link" title="Kontakt">Kontakt</a>
                            </li>
                            <li>
                                <a href="#" data-modal="modal-one" class="no-trans" title="Voucher">Voucher</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
