<section class="hero-page pt-xxlarge pb-large">
    <div class="container">
        <div class="hero-page-content">
            <h1 class="hero-page-title split-text-letters">{{ title }}</h1>
            <div class="hero-page-breadcrumbs">
                <a href="index.html">Główna | </a>
                <span>{{ title }}</span>
            </div>
        </div>
    </div>
</section>
