<section class="hero-page pt-large pb-medium">
    <div class="container">
        <div class="hero-page-content">
            <h1 class="h2 hero-page-title split-text-letters mb-4">{{ title }}</h1>
            <div class="hero-page-description col-md-6 mx-auto">
                <p class="split-text-lines mt-0">{{ description }}</p>
            </div>
        </div>
    </div>
</section>
