<section class="hero-page pt-large pb-large">
    <div class="container">
        <div class="hero-page-content">
            <h1 class="hero-page-title split-text-letters mb-1">{{ title }}</h1>
            <div class="hero-page-description">
                <p class="big-paragraph split-text-lines">{{ description }}</p>
            </div>
        </div>
    </div>
</section>
