<div class="bixol-breadcrumb" style='background-image: url("/assets/images/kajaki24-2.jpg");'>
    <div class="container">
        <div class="breadcrumb-content">
            <h1>{{ title }}</h1>
            <a href="index.html">Główna <i class="fas fa-angle-double-right"></i></a>
            <span>{{ title }}</span>
        </div>
    </div>
</div>
