---
title: Błąd 404
description: Opis
layout: "templates/base.njk"
---

<!-- 404 Area -->
<section class="not-found-area pt-100 pb-150">
    <div class="cotainer">
        <div class="row">
            <div class="col-lg-12">
                <div class="404-content">
                    <div class="title-txt">
                        <h3>Nie ma takiej strony</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="not-found-btns">
            <a href="/" class="home-btn"><span><i class="fas fa-home"></i></span>Przejdź na stronę główną</a>
        </div>
    </div>
</section>
<!-- 404 End -->