---
title: Cennik
description: Zapoznaj się z trasami spływów i naszym cennikiem. Zerezerwuj spływ telefonicznie +48 733 240 024 
layout: "templates/base.njk"
---

<section class="section-pricing pt-small">
    <div class="container-fluid">
        <div class="row">
            <div class="flex-col pb-small text-center">
                <h2 class="split-text-lines color-blue">Trasy jednodniowe</h2>
            </div>
        </div>
        <div class="row gx-0 justify-content-center pb-medium">
            {% for post in collections.cennik['Trasy jednodniowe'] %}
            <div class="col-md-4">
                <div class="pricing-card pt-medium pt-md-large pb-medium pb-md-small">
                    <div class="pricing-card-content-visible pb-xsmall text-center">
                        <div class="pricing-card-headline">
                            <h3 class="h4 split-text-lines mb-4 color-blue">
                                {{ post.data.title }}
                            </h3>
                        </div>
                        <div class="feature-list">
                            <ul class="fade-in">
                                <li class="color-blue"><strong>Czas spływu: </strong>{{ post.data.rafting_time }} h</li>
                                <li class="color-blue"><strong>Długość trasy: </strong>{{ post.data.route_length }} km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                           <p class="h3 split-text-lines mt-4 color-blue">{{ post.data.price }} zł | dzień</p>
                            {% if post.data.price_descrition %}
                            <p class="price-desc split-text-lines">
                                {{ post.data.price_descrition }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pricing-card-content-hiding text-center">
                        <div class="price-btn fade-in">
                            <a href="tel:+48733240024" class="ka-button no-trans">
                                <span class="color-blue">Zarezerwuj</span>
                                <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z"
                                        fill="var(--color-accent-4)" stroke-width="5px" transform="matrix(-1 0 0 1 190 -12)"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="pricing-card-image">
                        <img src="/assets/images/gallery/003.jpg" alt="">
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>

<section class="section-pricing">
    <div class="container-fluid">
        <div class="row">
            <div class="flex-col pb-small text-center">
                <h2 class="split-text-lines color-blue">Trasy dwudniowe</h2>
            </div>
        </div>
        <div class="row gx-0 justify-content-center pb-medium">
            {% for post in collections.cennik['Trasy dwudniowe'] %}
            <div class="col-md-4">
                <div class="pricing-card pt-medium pt-md-large pb-medium pb-md-small">
                    <div class="pricing-card-content-visible pb-xsmall text-center">
                        <div class="pricing-card-headline">
                            <h3 class="h4 split-text-lines mb-4 color-blue">
                                {{ post.data.title }}
                            </h3>
                        </div>
                        <div class="feature-list">
                            <ul class="fade-in">
                                <li class="color-blue"><strong>Czas spływu: </strong>{{ post.data.rafting_time }} h</li>
                                <li class="color-blue"><strong>Długość trasy: </strong>{{ post.data.route_length }} km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                           <p class="h3 split-text-lines mt-4 color-blue">{{ post.data.price }} zł | dzień</p>
                            {% if post.data.price_descrition %}
                            <p class="price-desc split-text-lines">
                                {{ post.data.price_descrition }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pricing-card-content-hiding text-center">
                        <div class="price-btn fade-in">
                            <a href="tel:+48733240024" class="ka-button no-trans">
                                <span class="color-blue">Zarezerwuj</span>
                                <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z"
                                        fill="var(--color-accent-4)" stroke-width="5px" transform="matrix(-1 0 0 1 190 -12)"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="pricing-card-image">
                        <img src="/assets/images/gallery/003.jpg" alt="">
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>

<section class="section-pricing">
    <div class="container-fluid">
        <div class="row">
            <div class="flex-col pb-small text-center">
                <h2 class="split-text-lines color-blue">Trasy trzydniowe</h2>
            </div>
        </div>
        <div class="row gx-0 justify-content-center pb-medium">
            {% for post in collections.cennik['Trasy trzydniowe'] %}
            <div class="col-md-4">
                <div class="pricing-card pt-medium pt-md-large pb-medium pb-md-small">
                    <div class="pricing-card-content-visible pb-xsmall text-center">
                        <div class="pricing-card-headline">
                            <h3 class="h4 split-text-lines mb-4 color-blue">
                                {{ post.data.title }}                         
                            </h3>
                        </div>
                        <div class="feature-list">
                            <ul class="fade-in">
                                <li class="color-blue"><strong>Czas spływu: </strong>{{ post.data.rafting_time }} h</li>
                                <li class="color-blue"><strong>Długość trasy: </strong>{{ post.data.route_length }} km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            {% if post.data.price %}
                           <p class="h3 split-text-lines mt-4 color-blue">{{ post.data.price }} zł | dzień</p>
                            {% else %}
                                <div class="liquid-price">
                                    <h3 class="h5 color-blue">Cena do uzgodnienia</h3>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pricing-card-content-hiding text-center">
                        <div class="price-btn fade-in">
                            <a href="tel:+48733240024" class="ka-button no-trans">
                                <span class="color-blue">Zarezerwuj</span>
                                <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z"
                                        fill="var(--color-accent-4)" stroke-width="5px" transform="matrix(-1 0 0 1 190 -12)"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="pricing-card-image">
                        {% Image "src/assets/images/gallery/003.jpg", "Trasa i cennik - kajaki24 Warka" %}
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>
