---
title: Galeria
description: Zobacz wybrane zdjęcia ze spływów, biwaków, ognisk i innych atrakcji które oferujemy
layout: "templates/base.njk"
---

<section class="gallery-section pt-large pb-large">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="color-blue split-text-lines">
                    <h3 class="mt-0">Wybrane zdjęcia <span> ze spływów</span></h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bf-desc">

                </div>
            </div>
        </div>
        <div class="gallery-wrap pt-small">
            {% for item in collections.galeria %}
            <div class="row gy-4">
                {% for image in item.data.images %}
                <div class="col-6 col-md-4">
                    <a href="{{ image.image }}" class="glightbox">
                        <img src="{{ image.image }}" alt="{{ image.alt }}" class="gallery-item fade-in" 
                        sizes="(max-width: 400px) 100vw, 400px">
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>