---
title: Spływy kajakowe
description: Kajaki24 to wypożyczalnia kajaków która kompleksowo zorganizuje wypoczynek na rzece i nie tylko. Przeżyj wspaniałą przygodę nad Pilicą
layout: "templates/front.njk"
---

{% include "sections/hero.njk" %}
{% include "sections/weather.njk" %}
{% include "sections/about.njk" %}
{% include "sections/booking.njk" %}
{% include "sections/tracks.njk" %}
{% include "sections/pricing.njk" %}
{% include "sections/process.njk" %}
{% include "sections/feedback.njk" %}

