---
title: Spływy kajakowe dla szkół
description: Spływy kajakowe dla szkół
layout: "templates/base.njk"
---

<section class="bg-light-1 pt-large pb-large">
    <div class="container">
        <div class="row gx-md-5">
            <div class="col-md-6">
                <p>
                    Ofertę spływów kajakowych dla szkół szlakiem Krutyni (i nie tylko) kierujemy  do dyrektorów szkół, nauczycieli, wychowawców, rektorów, uczniów,  studentów, organizatorów wycieczek i wyjazdów szkolnych, i każdego, kto  chce zorganizować spływ kajakowy dla takiej grupy. 
                </p>
                <p>
                    Ofertę spływów kajakowych dla szkół opracowaliśmy właśnie na potrzeby organizacji spływów dla grup szkolnych, a do skorzystania z niej zapraszamy:-  w czasie roku szkolnego - grupy młodzieżowe, szkolne, studenckie i szkolne wycieczki zorganizowane-  w okresie wakacji - grupy kolonijne, zgrupowania studenckie, obozy harcerskie czy też młodzież zorganizowaną w każdej innej formie.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/003.jpg" alt="">
            </div>
        </div>
    </div>
</section>