---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
        <url>
            <loc>
                https://kajaki24.com.pl
            </loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url> 
        <url>
            <loc>
                https://kajaki24.com.pl/cennik
            </loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url> 
        <url>
            <loc>
                https://kajaki24.com.pl/regulamin-splywu
            </loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url> 
        <url>
            <loc>
                https://kajaki24.com.pl/galeria
            </loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url> 
        <url>
            <loc>
                https://przemekmiros.pl/kontakt
            </loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url> 
</urlset>