---
title: Spływy kajakowe dla szkół
description: Spływy kajakowe dla szkół to doskonały pomysł na wycieczkę. Niezapomniane wrażenia, piękno przyrody, relaks, integracja i przygoda nie tylko dla uczniów ale i nauczycieli!
layout: "templates/base.njk"
---

<section class="bg-light-1 pt-medium pt-md-large pb-xsmall pb-md-medium">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-md-6">
        <h2 class="split-text-lines mt-0">
          Oferta spływów kajakowych dla szkół
        </h2>
        <p class="fade">
          Spływ kajakowy po malowniczej rzece Pilicy to doskonała okazja, aby
          uczniowie mogli nie tylko aktywnie spędzić czas, ale również czerpać
          liczne korzyści edukacyjne i rozwijające.
        </p>
        <p class="fade">
          Zapewniamy kamizelki asekuracyjne na rozmiar marki RTM i Olimp, jeśli
          zajdzie potrzeba jest możliwość zapewnienia ratownika. Dopasujemy
          ofertę do specyficznych potrzeb i oczekiwań.
        </p>
        <a
          class="no-trans ka-button fade"
          href="/kontakt"
          title="Zarezerwuj spływ"
        >
          <span class="color-dark-1">Zarezerwuj spływ</span>
          <svg
            height="16"
            viewBox="0 0 16 16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
            class="btn-arrow"
          >
            <path
              d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z"
              fill="#fff"
              transform="matrix(-1 0 0 1 190 -12)"
            ></path>
          </svg>
        </a>
      </div>
      <div class="offset-md-1 col-md-5">
        <div class="about-image">
          <div class="reveal-wrap">
            {% Image "src/assets/images/trip/trasa-3.png", "Spływy kajakami
            Warka", "reveal-image", 1200 %}
          </div>
          <div class="image-small img-sm-right d-none d-md-block">
            <div class="reveal-wrap">
              {% Image "src/assets/images/gallery/ognisko-1.jpg", "Spływy
              kajakowe Pilicą", "reveal-image", 320 %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-2 pt-xsmall pb-medium">
  <div class="container">
    <h2 class="text-md-center split-text-lines">Korzyści dla uczestników</h2>
    <div class="row g-3 pt-xsmall">
      <div class="col-md-6">
        <div class="p-3 py-5 p-md-5 bg-light-1 border">
            <svg width="70" height="70" class="fade" viewBox="-9.71 0 78.351 78.351" xmlns="http://www.w3.org/2000/svg">
                <g id="Group_1" data-name="Group 1" transform="translate(-156.417 -147.06)">
                  <path id="Path_1" data-name="Path 1" d="M190.084,213.461h-8.394l1.552-22.908h5.29Z" fill="var(--color-accent-4)"/>
                  <path id="Path_2" data-name="Path 2" d="M190.62,187.11c0,2.614-2.119,6.488-4.734,6.488s-4.733-3.874-4.733-6.488,2.119-2.98,4.733-2.98S190.62,184.495,190.62,187.11Z" fill="var(--color-accent-4)"/>
                  <path id="Path_3" data-name="Path 3" d="M200.039,174.539c0,9.646-6.337,19.4-14.153,19.4s-14.152-9.755-14.152-19.4,6.336-15.529,14.152-15.529S200.039,164.894,200.039,174.539Z" fill="none" stroke="var(--color-accent-2)" stroke-miterlimit="10" stroke-width="3" opacity="0.15"/>
                  <path id="Path_4" data-name="Path 4" d="M196.726,187.958c10.062,3,17.13,9.507,17.13,13.326V223.04a.871.871,0,0,1-.871.871h-54.2a.871.871,0,0,1-.871-.871V201.284c0-3.814,7.039-10.306,17.075-13.314" fill="none" stroke="var(--color-accent-2)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3" opacity="0.15"/>
                  <path id="Path_5" data-name="Path 5" d="M200.039,164.09c0,9.645-6.337,19.4-14.153,19.4s-14.152-9.755-14.152-19.4,6.336-15.53,14.152-15.53S200.039,154.444,200.039,164.09Z" fill="none" stroke="var(--color-accent-2)" stroke-miterlimit="10" stroke-width="3"/>
                  <path id="Path_6" data-name="Path 6" d="M196.726,177.509c10.062,3,17.13,9.507,17.13,13.326v21.756a.871.871,0,0,1-.871.87h-54.2a.871.871,0,0,1-.871-.87V190.835c0-3.814,7.039-10.307,17.075-13.315" fill="none" stroke="var(--color-accent-2)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                </g>
              </svg>
          <h3 class="h4 mt-3 split-text-lines">
            Wzmocnienie kondycji fizycznej
          </h3>
          <p class="fade">
            Kajakarstwo to aktywność, która angażuje wiele grup mięśniowych, co
            sprzyja poprawie ogólnej kondycji fizycznej uczestników. Regularne
            wiosłowanie wzmacnia mięśnie ramion, pleców i rdzenia, jednocześnie
            poprawiając koordynację ruchową.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 py-5 p-md-5 bg-light-1 border">
            <svg width="70" height="70" class="fade" viewBox="-4.73 0 72.44 72.44" xmlns="http://www.w3.org/2000/svg">
                <g id="Group_11" data-name="Group 11" transform="translate(-482.502 -412.731)">
                  <path id="Path_25" data-name="Path 25" d="M533.566,429.163l-25.9,25.9-8.182-8.182" fill="none" stroke="var(--color-accent-4)" stroke-miterlimit="10" stroke-width="3"/>
                  <g id="Group_9" data-name="Group 9" opacity="0.15">
                    <circle id="Ellipse_17" data-name="Ellipse 17" cx="29.992" cy="29.992" r="29.992" transform="translate(484.002 423.686)" fill="none" stroke="var(--color-accent-2)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                  </g>
                  <g id="Group_10" data-name="Group 10">
                    <circle id="Ellipse_18" data-name="Ellipse 18" cx="29.992" cy="29.992" r="29.992" transform="translate(484.002 414.231)" fill="none" stroke="var(--color-accent-2)" stroke-miterlimit="10" stroke-width="3"/>
                  </g>
                </g>
              </svg>
          <h3 class="h4 mt-3 split-text-lines">Poprawa samopoczucia</h3>
          <p class="fade">
            Spędzanie czasu na łonie natury, szczególnie na wodzie, ma
            udowodnione korzyści dla zdrowia psychicznego, w tym redukcję
            poziomu stresu i poprawę nastroju. Spływy kajakowe oferują uczniom
            przerwę od codziennej rutyny i szkolnych obowiązków.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 py-5 p-md-5 bg-light-1 border">
          <svg
            width="70"
            height="70"
            class="fade"
            viewBox="-5.75 0 75.771 75.771"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g
              id="Group_14"
              data-name="Group 14"
              transform="translate(-961.261 -404.164)"
            >
              <path
                id="Path_38"
                data-name="Path 38"
                d="M987.193,409.126a21.406,21.406,0,0,0-21.407,21.406h21.407Z"
                fill="var(--color-accent-4)"
              />
              <path
                id="Path_39"
                data-name="Path 39"
                d="M962.761,447.8a30.632,30.632,0,1,0,30.632-30.632V447.8Z"
                fill="none"
                stroke="var(--color-accent-2)"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                opacity="0.15"
              />
              <path
                id="Path_40"
                data-name="Path 40"
                d="M962.761,436.3a30.632,30.632,0,1,0,30.632-30.632V436.3Z"
                fill="none"
                stroke="var(--color-accent-2)"
                stroke-linejoin="round"
                stroke-width="3"
              />
            </g>
          </svg>
          <h3 class="h4 mt-3 split-text-lines">Edukacja poprzez przygodę</h3>
          <p class="fade">
            Spływy kajakowe to nie tylko aktywny wypoczynek, ale również
            znakomita lekcja biologii i geografii w praktyce. Uczestnicy mogą
            obserwować różnorodne gatunki flory i fauny, co pomaga zrozumieć
            znaczenie ekosystemów wodnych oraz potrzebę ochrony środowiska.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 py-5 p-md-5 bg-light-1 border">
<svg width="70" height="70" class="fade" viewBox="-11.59 0 70.804 70.804" xmlns="http://www.w3.org/2000/svg">
  <g id="Group_5" data-name="Group 5" transform="translate(-812.296 -152.922)">
    <line id="Line_2" data-name="Line 2" x2="13.298" y2="8.679" transform="translate(819.601 164.636)" fill="none" stroke="var(--color-accent-4)" stroke-miterlimit="10" stroke-width="3"/>
    <path id="Path_12" data-name="Path 12" d="M816.654,165.358,857.471,192a1.905,1.905,0,0,1,0,3.3l-40.817,26.638a1.9,1.9,0,0,1-2.858-1.65V167.008A1.9,1.9,0,0,1,816.654,165.358Z" fill="none" stroke="var(--color-accent-2)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3" opacity="0.15"/>
    <path id="Path_13" data-name="Path 13" d="M816.654,154.712l40.817,26.639a1.905,1.905,0,0,1,0,3.3L816.654,211.29a1.905,1.905,0,0,1-2.858-1.65V156.362A1.905,1.905,0,0,1,816.654,154.712Z" fill="none" stroke="var(--color-accent-2)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
  </g>
</svg>
          <h3 class="h4 mt-3 split-text-lines">
            Rozwój umiejętności interpersonalnych
          </h3>
          <p class="fade">
            W trakcie spływu kajakowego uczniowie uczą się współpracy i pracy
            zespołowej, co jest kluczowe w kształtowaniu umiejętności
            społecznych. To również doskonały sposób na budowanie wzajemnego
            zaufania i wspierania siebie nawzajem w różnych zadaniach.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-1 pt-xsmall pb-medium">
  <div class="container">
    <h2 class="text-md-center split-text-lines">Dodatkowe atrakcje</h2>
    <div class="row g-md-3 pt-xsmall">
      <div class="col-md-4">
        <div class="p-3 p-md-5 bg-light-2 border">
          <h3 class="h4 mt-1 split-text-lines">Elastyczne planowanie</h3>
          <p class="fade">
            Oferujemy elastyczność w planowaniu dat spływów, reagując na zmiany
            pogody. W przypadku niepogody zmienimy termin bez dodatkowych
            kosztów.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 p-md-5 bg-light-2 border">
          <h3 class="h4 mt-1 split-text-lines">Rabaty i promocje</h3>
          <p class="fade">
            Zapewniamy atrakcyjne zniżki dla szkół i innych grup
            zorganizowanych, bezpłatny udział dla nauczycieli i opiekunów, a
            także bezpłatny parking.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 p-md-5 bg-light-2 border">
          <h3 class="h4 mt-1 split-text-lines">Ognisko i integracja</h3>
          <p class="fade">
            Ognisko na zakończenie spływu to doskonały moment na integrację
            grupy, umożliwiając uczestnikom dzielenie się wrażeniami i wspólną
            zabawę.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-2 pt-xsmall pb-large">
  <div class="container">
    <h2 class="text-md-center split-text-lines">Zdjęcia ze spływów</h2>
    <div class="gallery-wrap pt-xsmall">
      {% for item in collections.galeria %}
      <div class="row g-3">
        {% for image in item.data.images.slice(0, 6) %}
        <div class="col-6 col-md-4">
          <a href="{{ image.image }}" class="glightbox no-trans">
            <img
              src="{{ image.image }}"
              alt="{{ image.alt }}"
              class="gallery-item fade"
              sizes="(max-width: 400px) 100vw, 400px"
            />
          </a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
