---
title: Spływy kajakowe dla szkół
description: Spływy kajakowe dla szkół to doskonały pomysł na wycieczkę. Niezapomniane wrażenia, piękno przyrody, relaks, integracja i przygoda nie tylko dla uczniów ale i nauczycieli!
layout: "templates/base.njk"
---

<section class="bg-light-1 pt-medium pt-md-large pb-xsmall pb-md-medium">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-6">
                <h2 class="split-text-lines mt-0">
                    Oferta spływów kajakowych dla szkół
                </h2>
                <p class="fade-in">
                    Spływ kajakowy po malowniczej rzece Pilicy to doskonała okazja, aby uczniowie mogli nie tylko aktywnie spędzić czas, ale również czerpać liczne korzyści edukacyjne i rozwijające.
                </p>
                <p class="fade-in">
                    Zapewniamy kamizelki asekuracyjne na rozmiar marki RTM i Olimp, jeśli zajdzie potrzeba jest możliwość zapewnienia ratownika. Chętnie dopasujemy ofertę do specyficznych potrzeb i oczekiwań Państwa szkoły.
                </p>
                <a class="no-trans ka-button fade-in" href="/kontakt" title="Zarezerwuj spływ">
                    <span class="color-dark-1">Zarezerwuj spływ</span> 
                    <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg" class="btn-arrow"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path>
                    </svg>
                </a>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="about-image">
                    <div class="reveal-wrap">
                        {% Image "src/assets/images/trip/trasa-3.png", "Spływy kajakami Warka", "reveal-image", 1200 %}
                    </div>
                    <div class="image-small img-sm-right d-none d-md-block">
                        <div class="reveal-wrap">
                            {% Image "src/assets/images/gallery/ognisko-1.jpg", "Spływy kajakowe Pilicą", "reveal-image", 320 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-2 pt-xsmall pb-medium">
    <div class="container">
        <h2 class="text-md-center split-text-lines">
            Korzyści dla uczestników
        </h2>
        <div class="row g-3 pt-xsmall">
            <div class="col-md-6">
                <div class="p-3 p-md-5 bg-light-1 border">
                    <h3 class="h4 mt-1 split-text-lines">
                        Wzmocnienie kondycji fizycznej
                    </h3>
                    <p class="split-text-lines">
                        Kajakarstwo to aktywność, która angażuje wiele grup mięśniowych, co sprzyja poprawie ogólnej kondycji fizycznej uczestników. Regularne wiosłowanie wzmacnia mięśnie ramion, pleców i rdzenia, jednocześnie poprawiając koordynację ruchową.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 p-md-5 bg-light-1 border">
                <h3 class="h4 mt-1 split-text-lines">
                    Poprawa samopoczucia
                </h3>
                <p class="split-text-lines">
                    Spędzanie czasu na łonie natury, szczególnie na wodzie, ma udowodnione korzyści dla zdrowia psychicznego, w tym redukcję poziomu stresu i poprawę nastroju. Spływy kajakowe oferują uczniom przerwę od codziennej rutyny i szkolnych obowiązków.
                </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 p-md-5 bg-light-1 border">
                <h3 class="h4 mt-1 split-text-lines">
                    Edukacja poprzez przygodę
                </h3>
                <p class="split-text-lines">
                    Spływy kajakowe to nie tylko aktywny wypoczynek, ale również znakomita lekcja biologii i geografii w praktyce. Uczestnicy mogą obserwować różnorodne gatunki flory i fauny, co pomaga zrozumieć znaczenie ekosystemów wodnych oraz potrzebę ochrony środowiska.
                </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 p-md-5 bg-light-1 border">
                <h3 class="h4 mt-1 split-text-lines">
                    Rozwój umiejętności interpersonalnych
                </h3>
                <p class="split-text-lines">
                     W trakcie spływu kajakowego uczniowie uczą się współpracy i pracy zespołowej, co jest kluczowe w kształtowaniu umiejętności społecznych. To również doskonały sposób na budowanie wzajemnego zaufania i wspierania siebie nawzajem w różnych zadaniach.
                </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-1 pt-xsmall pb-medium">
    <div class="container">
        <h2 class="text-md-center split-text-lines">
            Dodatkowe atrakcje
        </h2>
        <div class="row g-md-3 pt-xsmall">
            <div class="col-md-4">
                <div class="p-3 p-md-5 bg-light-2 border">
                    <h3 class="h4 mt-1 split-text-lines">
                        Elastyczne planowanie
                    </h3>
                    <p class="split-text-lines">
                        Oferujemy elastyczność w planowaniu dat spływów, reagując na zmiany pogody. W przypadku niepogody zmienimy termin bez dodatkowych kosztów.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 p-md-5 bg-light-2 border">
                    <h3 class="h4 mt-1 split-text-lines">
                        Rabaty i promocje
                    </h3>
                    <p class="split-text-lines">
                        Zapewniamy atrakcyjne zniżki dla szkół i innych grup zorganizowanych, bezpłatny udział dla nauczycieli i opiekunów, a także bezpłatny parking.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 p-md-5 bg-light-2 border">
                    <h3 class="h4 mt-1 split-text-lines">
                        Ognisko i integracja
                    </h3>
                    <p class="split-text-lines">
                        Ognisko na zakończenie spływu to doskonały moment na integrację grupy, umożliwiając uczestnikom dzielenie się wrażeniami i wspólną zabawę.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-2 pt-xsmall pb-large">
    <div class="container">
        <h2 class="text-md-center split-text-lines">
            Zdjęcia ze spływów
        </h2>
        <div class="gallery-wrap pt-xsmall">
            {% for item in collections.galeria %}
            <div class="row g-3">
                {% for image in item.data.images.slice(0, 6) %}
                <div class="col-6 col-md-4">
                    <a href="{{ image.image }}" class="glightbox no-trans">
                        <img src="{{ image.image }}" alt="{{ image.alt }}" class="gallery-item fade" 
                        sizes="(max-width: 400px) 100vw, 400px">
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
