---
title: Trasy
description: Odkrywaj malowniczą rzekę Pilicę, ciesząc się wspaniałymi krajobrazami i bliskością natury. Oferuje różnorodne trasy spływów kajakowych, dostosowane do różnych poziomów zaawansowania i preferencji. 
layout: "templates/archive.njk"
---

<section class="bg-light-1 pt-large pb-large">
    <div class="container">
        <div class="row">
           {% for post in collections.trasy %}
            <div class="col-md-4">
                <a href="{{ post.url }}" class="no-trans">
                    <div class="">
                    <div class="">
                        <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
                    </div>
                    <div class="pb-xsmall">
                        <h3 class="h4 split-text-lines mb-4">
                            {{ post.data.title }}
                        </h3>
                    </div>
                </div>
                </a>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>