---
title: Trasy
description: Odkrywaj malowniczą rzekę Pilicę, ciesząc się wspaniałymi krajobrazami i bliskością natury. Oferuje różnorodne trasy spływów kajakowych, dostosowane do różnych poziomów zaawansowania i preferencji. 
layout: "templates/archive.njk"
---

<section class="archive bg-light-1 pt-large pb-small">
    <div class="container">
        <div class="row gx-md-5">
           {% for post in collections.trasy %}
            <div class="col-md-4">
                <div class="pb-small fade-in-opacity">
                    <div class="thumb-wrap">
                        <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
                        <h3 class="h4 split-text-lines mb-4">
                            {{ post.data.title }}
                        </h3>
                    </div>
                        <div class="price-btn fade-in pb-xsmall">
                            <a href="{{ post.url }}" class="ka-button no-trans">
                                <span class="color-blue">Czytaj</span>
                                <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z"
                                        fill="var(--color-accent-4)" stroke-width="5px" transform="matrix(-1 0 0 1 190 -12)"></path>
                                </svg>
                            </a>
                        </div>
                    <div class="line-x"></div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>