<section class="section-about pt-small pb-xlarge">
    <div class="">
        <div class="row">
            <div class="col-md-5">
                <div class="about-image">
                    <img src="/assets/images/gallery/003.jpg" alt="">
                    <img src="/assets/images/gallery/k-4.jpg" alt="" class="image-small">
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="about-content text-center">
                    <p class="big-paragraph split-text-lines">
                        Spływy kajakowe stają się coraz bardziej popularną formą turystyki i rekreacji, nie tylko wśród młodzieży, ale także wśród rodzin z dziećmi, które w ten sposób chcą razem spędzić wakacje czy też weekendy. 
                    </p>
                    <div class="d-flex flex-wrap pt-small">
                        <div class="col-md-6">
                            <div class="about-card pb-small">
                                <h4 class="h5 about-card-title split-text-lines mb-3">
                                    Doświadczenie 
                                </h4>
                                <p>
                                    W organizowaniu spływów dla pojedynczych klientów oraz dla grup.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-card pb-small">
                                <h4 class="h5 about-card-title split-text-lines mb-3">
                                    Nowoczesny sprzęt
                                </h4>
                                <p>
                                   Który zapewnia wysoki poziom bezpieczeństwa.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-card">
                                <h4 class="h5 about-card-title split-text-lines mb-3">
                                    Konkurencyjne ceny
                                </h4>
                                <p>
                                    Posiadamy doświadczenie w organizowaniu spływów 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-card">
                                <h4 class="h5 about-card-title split-text-lines mb-3">
                                    Dodatkowe atrakcje
                                </h4>
                                <p>
                                    Posiadamy doświadczenie w organizowaniu spływów 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>