<section class="section-about pt-xlarge pb-xlarge">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="about-image">
                    <div class="reveal-wrap">
                        <img src="" alt="" class="">
                        {% Image "src/assets/images/gallery/k-8.jpeg", "Spływy kajakami Warka", "reveal-image" %}
                    </div>
                    <div class="image-small d-none d-md-block">
                        <div class="reveal-wrap">
                            {% Image "src/assets/images/gallery/k-6.jpg", "Spływy kajakowe Pilicą", "reveal-image" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="about-content text-center">
                    <h2 class="h3 split-text-lines color-light-1">
                        Zorganizuj z nami spływ albo imprezę integracyjną
                    </h2>
                    <div class="d-flex flex-wrap pt-xsmall pb-small">
                        <div class="col-12 col-md-6">
                            <div class="about-card pb-xsmall">
                                <h3 class="h5 about-card-title split-text-lines mb-3 color-light-1">
                                    Doświadczenie 
                                </h3>
                                <p class="split-text-lines color-light-2">
                                    W organizowaniu spływów dla pojedynczych klientów oraz grup.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="about-card pb-xsmall">
                                <h3 class="h5 about-card-title split-text-lines mb-3 color-light-1">
                                    Nowoczesny sprzęt
                                </h3>
                                <p class="split-text-lines color-light-2">
                                   Który zapewnia wysoki poziom bezpieczeństwa.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="about-card pb-xsmall">
                                <h3 class="h5 about-card-title split-text-lines mb-3 color-light-1">
                                    Bezpłatny parking
                                </h3>
                                <p class="split-text-lines color-light-2">
                                    Możesz zostawić auto na naszym bezpłatnym parkingu.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="about-card pb-xsmall">
                                <h3 class="h5 about-card-title split-text-lines mb-3 color-light-1">
                                    Dodatkowe atrakcje
                                </h3>
                                <p class="split-text-lines color-light-2">
                                    Organizujemmy również ogniska, biwaki i przejazdy motorówką.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 fade-in">
                        <a href="/regulamin" title="Regulamin spływu" class="ka-button no-trans">
                            <span class="color-light-1">Zobacz regulamin</span>
                            <svg class="btn-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>