<!-- About Section -->
<section class="h4-about-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="about-left">
                    <div class="title-style-2">
                        <span class="bixol-subtitle">Kajaki24 Warka</span>
                        <h3>Spływy kajakowe Pilicą </h3>
                        <p>Spływy kajakowe stają się coraz bardziej popularną formą turystyki i rekreacji, nie tylko
                            wśród młodzieży, ale także wśród rodzin z dziećmi, które w ten sposób chcą razem spędzić
                            wakacje czy też wolne weekendy. </p>
                    </div>
                    <div class="h4-pera-txt mt-30">
                        <p>Równie chętnie firmy organizują swoje imprezy integracyjne, sięgając po ten rodzaj turystyki,
                            który sprzyja pełnemu relaksowi i odprężeniu tak fizycznemu jak i psychicznemu po miesiącach
                            ciężkiej pracy. Zapraszamy!</p>
                    </div>
                    <div class="about-bottom">
                        <div class="about-list">
                            <ul>
                                <li><span><i class="fas fa-check"></i></span>Wypoczynek i integracja</li>
                                <li><span><i class="fas fa-check"></i></span>Rodzinna atmosfera</li>
                                <li><span><i class="fas fa-check"></i></span>Świeże powietrze</li>
                            </ul>
                        </div>
                        <div class="about-yr-ex">
                            <span class="icon-wrapper"><i class="flaticon flaticon-trophy"></i></span>
                            <span class="title">10+</span>
                            <span class="subtitle">Lat doświadczenia</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="about-right">
                    <div class="img-wrapper">
                        <img src="assets/images/about.png" alt="">
                        <div class="ab-right-content">
                            <div class="dark-bg">
                                <span class="title">50+</span>
                                <span class="subtitle">Kajaków</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->