<div class="get-in-touch">
  <div class="container">
    <div class="git-content" data-background="assets/images/home6/git-bg.jpg"
      style="background-image: url('assets/images/home6/git-bg.jpg')"
    >
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-6">
          <div class="git-left">
            <span class="title"
              >Please call us to take an extraordinary service!</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="git-btn home6-secondary-btn">
            <a href="#"
              ><span><i class="flaticonv2 flaticonv2-telephone-call"></i></span
              >+96 456 478 456</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
