<section class="home6-booking-area pt-70 pb-60" data-background="assets/images/home6/booking-bg.jpg" style="background-image: url(&quot;assets/images/home6/booking-bg.jpg&quot;);">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title mb-20">
                                <h3>Zerezerwuj kajaki online</h3>
                            </div>
                        </div>
                    </div>
                    <div class="booking-form">
                        <form action="#">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-md-6">
                                    <div class="input-field name-field">
                                        <input type="text" placeholder="Imię i nazwisko">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="input-field phone-field">
                                        <input type="tel" placeholder="Numer telefonu">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="input-field">
                                        <select>
                                            <option value="">Spływ 1 dniowy</option>
                                            <option value="">Spływ 1 dniowy</option>
                                            <option value="">Spływ 1 dniowy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="submit-btn">
                                        <button type="button">Zarezerwuj</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>