<section class="home6-booking-area pt-70 pb-60">
    <div class="container">
        <div class="row align-items-center">
                <div class="col-lg-9">
                    <div class="title mb-0">
                        <h3>Zerezerwuj kajaki telefonicznie</h3>
                    </div>
                </div>
                <div class="col-lg-3 text-end">
                    <a class="submit-btn">
                         Zadzwoń
                    </a>
                </div>
        </div>
    </div>
</section>