<section class="bixol-ct-section h4-ct-area pt-100 pb-70" data-background="assets/images/home4/counter-bg.jpg"
    style="background-image: url(&quot;assets/images/home4/counter-bg.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column">
                    <div class="bixol-icon-wrapper">
                        <span><img src="assets/images/home4/ct-icon-1.png" alt=""></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer odometer-auto-theme" data-value="2000">
                                <div class="odometer-inside"><span class="odometer-digit"><span
                                            class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">2</span></span></span></span></span><span
                                        class="odometer-formatting-mark">,</span><span class="odometer-digit"><span
                                            class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">0</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">0</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">0</span></span></span></span></span>
                                </div>
                            </span><span class="plus">+</span></h3>
                        <span class="subtitle">Project Done</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column">
                    <div class="bixol-icon-wrapper">
                        <span><img src="assets/images/home4/ct-icon-1.png" alt=""></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer odometer-auto-theme" data-value="22500">
                                <div class="odometer-inside"><span class="odometer-digit"><span
                                            class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">2</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">2</span></span></span></span></span><span
                                        class="odometer-formatting-mark">,</span><span class="odometer-digit"><span
                                            class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">5</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">0</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">0</span></span></span></span></span>
                                </div>
                            </span><span class="plus">+</span></h3>
                        <span class="subtitle">Haapy Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column">
                    <div class="bixol-icon-wrapper">
                        <span><img src="assets/images/home4/ct-icon-1.png" alt=""></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer odometer-auto-theme" data-value="28">
                                <div class="odometer-inside"><span class="odometer-digit"><span
                                            class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">2</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">8</span></span></span></span></span>
                                </div>
                            </span><span class="plus">+</span></h3>
                        <span class="subtitle">Award Winning</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="bixol-counter-column">
                    <div class="bixol-icon-wrapper">
                        <span><img src="assets/images/home4/ct-icon-1.png" alt=""></span>
                    </div>
                    <div class="bixol-ct-content">
                        <h3><span class="odometer odometer-auto-theme" data-value="605">
                                <div class="odometer-inside"><span class="odometer-digit"><span
                                            class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">6</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">0</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                            class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                    class="odometer-ribbon-inner"><span
                                                        class="odometer-value">5</span></span></span></span></span>
                                </div>
                            </span><span class="plus">+</span></h3>
                        <span class="subtitle">Team Member</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>