<section class="bg-light-1 pt-medium pb-large">
    <div class="container">
        <div class="accordion-wrap">
            <div class="offset-md-2 col-md-8 fade-in-opacity">
                <div class="accordion">
                    <div class="h5 split-text-lines mb-1 title color-heading">
                        Czy można zabrać ze sobą telefon?
                    </div>
                    <div class="icon"></div>
                </div>
                <div class="panel col-md-9">
                    <p class="color-text">
                        Tak, można zabrać ze sobą swój telefon. Zalecamy jednak, aby trzymać go wodoodpornej obudowie, słoiku lub worku, aby ochronić przed przypadkowym zamoczeniem. Telefon pozwoli Ci na uwiecznienie pięknych chwil na wodzie.
                    </p>
                </div>
            </div>
            <div class="offset-md-1 col-md-10">
            <div class="line-x"></div>
            </div>
            <div class="offset-md-2 col-md-8 fade-in-opacity">
                <div class="accordion">
                    <div class="h5 split-text-lines mb-1 title color-heading">
                        Czy potrzebuję doświadczenia w kajakarstwie, aby wziąć udział w spływie?
                    </div>
                    <div class="icon"></div>
                </div>
                <div class="panel col-md-9">
                     <p class="color-text">
                        Nie jest wymagane wcześniejsze doświadczenie. Trasa jest odpowiednia zarówno dla początkujących, jak i dla osób z pewnym doświadczeniem w kajakarstwie.
                    </p>
                </div>
            </div>
            <div class="offset-md-1 col-md-10">
            <div class="line-x"></div>
            </div>
            <div class="offset-md-2 col-md-8 fade-in-opacity">
                <div class="accordion">
                    <div class="h5 split-text-lines mb-1 title color-heading">
                        Czy na trasie spływu są miejsca postojowe?
                    </div>
                    <div class="icon"></div>
                </div>
                <div class="panel col-md-9">
                     <p class="color-text">
                        Tak, na trasie znajdują się wyznaczone miejsca postojowe, gdzie można odpocząć i zjeść posiłek.
                    </p>
                </div>
            </div>
            <div class="offset-md-1 col-md-10">
            <div class="line-x"></div>
            </div>
            <div class="offset-md-2 col-md-8 fade-in-opacity">
                <div class="accordion">
                    <div class="h5 split-text-lines mb-1 title color-heading">
                        Czy spływ kajakowy Pilicą jest odpowiedni dla dzieci?
                    </div>
                    <div class="icon"></div>
                </div>
                <div class="panel col-md-9">
                     <p class="color-text">
                       Spływ jest odpowiedni dla dzieci pod opieką osób dorosłych. Należy wziąć pod uwagę umiejętności pływania dziecka oraz warunki pogodowe. Każde dziecko otrzyma kamizelkę asekuracyjną w odpowiednim rozmiarze.
                    </p>
                </div>
            </div>
            <div class="offset-md-1 col-md-10">
            <div class="line-x"></div>
            </div>
            <div class="offset-md-2 col-md-8 fade-in-opacity">
                <div class="accordion">
                    <div class="h5 split-text-lines mb-1 title color-heading">
                        Czy muszę dokonywać wcześniejszej rezerwacji kajaków?
                    </div>
                    <div class="icon"></div>
                </div>
                <div class="panel col-md-9">
                     <p class="color-text">
                       Zalecamy dokonanie rezerwacji wcześniej, aby zagwarantować dostępność kajaków w preferowanym terminie. Chociaż akceptujemy również klientów bez rezerwacji, istnieje ryzyko, że w szczycie sezonu nie będzie dostępnych wolnych kajaków.
                    </p>
                </div>
            </div>
            <div class="offset-md-1 col-md-10">
            <div class="line-x"></div>
            </div>
        </div>
    </div>
</section>