<section class="feedback-section pt-small pb-medium">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="title-style-4 text-center">
          <h2 class="split-text-lines color-blue mb-5">Opinie klientów</h2>
          <p class="split-text-lines">
            W tej sekcji zebraliśmy opinie klientów, którzy mieli okazję
            skorzystać z naszych spływów kajakowych Pilicą. Wierzymy w
            transparentność i wartość autentycznych opinii, dlatego udostępniamy
            je tutaj, abyście mogli je poznać.
          </p>
        </div>
      </div>
    </div>
    <div class="home6-feedback-bottom">
      <div class="clients-thumbs fade d-none d-md-block">
        <span
          ><img src="/assets/images/feedback/client-thumb-1.png" alt=""
        /></span>
        <span
          ><img src="/assets/images/feedback/client-thumb-2.png" alt=""
        /></span>
        <span
          ><img src="/assets/images/feedback/client-thumb-3.png" alt=""
        /></span>
        <span
          ><img src="/assets/images/feedback/client-thumb-4.png" alt=""
        /></span>
        <span
          ><img src="/assets/images/feedback/client-thumb-5.png" alt=""
        /></span>
        <span
          ><img src="/assets/images/feedback/client-thumb-6.png" alt=""
        /></span>
        <span
          ><img src="/assets/images/feedback/client-thumb-7.png" alt=""
        /></span>
      </div>
      <div class="feedback-slider fade">
        <div class="glide" id="glide1">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <li class="glide__slide">
                <div class="feedback-wrapper">
                  <div class="feedback-single">
                    <div class="img-wrapper">
                      <img src="/assets/images/feedback/client-2.png" alt="" />
                    </div>
                    <div class="feedback-txt">
                      <p>
                        Super spływ . Warka- Mniszew..4 kajaki...ok. 4 godziny
                        spływu...mnóstwo wysepek i kąpielisk z możliwością
                        odpoczynku. Przecudne klify z gniazdami jeżyków. Woda
                        spokojna... pełnen relaks. Dzieci? Jak najbardziej!...
                        Mielizny - przygoda... Polecam 🙂
                      </p>
                    </div>
                    <div class="clients-content">
                      <span class="title">Gosia Kozłowska</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="glide__slide">
                <div class="feedback-wrapper">
                    <div class="feedback-single">
                      <div class="img-wrapper">
                        <img src="/assets/images/feedback/client-3.png" alt="" />
                      </div>
                      <div class="feedback-txt">
                        <p>
                          Super profesjonalny kontakt z właścicielem, wszystko
                          organizowane na najwyższym poziomie, dla tego pana nie ma
                          rzeczy nie możliwych💪. Widoki nie zapomniane, dlatego jeszcze
                          nie raz skorzystam z wypoczynku nad Pilicą organizowanego
                          przez Roberta😉
                        </p>
                      </div>
                      <div class="clients-content">
                        <span class="title">Erwin Socha</span>
                      </div>
                    </div>
                  </div>
              </li>
              <li class="glide__slide">
                <div class="feedback-wrapper">
                    <div class="feedback-single">
                      <div class="img-wrapper">
                        <img src="/assets/images/feedback/client-1.png" alt="" />
                      </div>
                      <div class="feedback-txt">
                        <p>
                          Polecam z czystym sumieniem. Super kontakt, spływ mieliśmy z
                          przygodą burzliwą ale było super. Dodam, że pierwszy raz a
                          wiele lat jeździmy na spływy kajakowe w kraju, kajaki były
                          czyste jak z fabryki w życiu nie trafiliśmy na tak czyste
                          kajaki. Właściciel podchodzi z sercem do klienta.
                        </p>
                      </div>
                      <div class="clients-content">
                        <span class="title">Daniel Borowski</span>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
          </div>

          <div class="glide__arrows d-none d-md-flex" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <svg class="btn-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <svg class="btn-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feedback Area End -->
