        <!-- Feedback Area -->
        <section class="home6-feedback-area pt-100 pb-100" data-background="/assets/images/feedback/feedback-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="title-style-4 text-center">
                            <span class="bixol-subtitle before-line">Kajaki24 Warka</span>
                            <h2>Opinie klientów</h2>
                            <p>W tej sekcji zebraliśmy opinie klientów, którzy mieli okazję skorzystać z naszych spływów kajakowych Pilicą. Wierzymy w transparentność i wartość autentycznych opinii, dlatego udostępniamy je tutaj, abyście mogli je poznać.</p>
                        </div>
                    </div>
                </div>
                <div class="home6-feedback-bottom">
                    <div class="clients-thumbs">
                        <span><img src="/assets/images/feedback/client-thumb-1.png" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-2.png" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-3.png" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-4.png" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-5.png" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-6.png" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-7.png" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-8.html" alt=""></span>
                        <span><img src="/assets/images/feedback/client-thumb-9.html" alt=""></span>
                    </div>
                    <div class="home6-feedback-slider">
                        <div class="feedback-wrapper">
                            <div class="feedback-single">
                                <div class="img-wrapper">
                                    <img src="/assets/images/feedback/client-1.jpg" alt="">
                                </div>
                                <div class="feedback-txt">
                                    <p>Super spływ . Warka- Mniszew..4 kajaki...ok. 4 godziny spływu...mnóstwo wysepek  i kąpielisk z możliwością odpoczynku. Przecudne klify z gniazdami jeżyków. Woda spokojna... pełnen relaks.  Dzieci? Jak najbardziej!... Mielizny - przygoda... Polecam 🙂</p>
                                </div>
                                <div class="clients-content">
                                    <span class="title">Gosia Kozłowska</span>
                                </div>
                            </div>
                        </div>
                        <div class="feedback-wrapper">
                            <div class="feedback-single">
                                <div class="img-wrapper">
                                    <img src="/assets/images/feedback/client-1.jpg" alt="">
                                </div>
                                <div class="feedback-txt">
                                    <p>Super profesjonalny kontakt z właścicielem, wszystko organizowane na najwyższym poziomie, dla tego pana nie ma rzeczy nie możliwych💪. Widoki nie zapomniane, dlatego jeszcze nie raz skorzystam z wypoczynku nad Pilicą organizowanego przez Roberta😉</p>
                                </div>
                                <div class="clients-content">
                                    <span class="title">Erwin Socha</span>
                                </div>
                            </div>
                        </div>
                        <div class="feedback-wrapper">
                            <div class="feedback-single">
                                <div class="img-wrapper">
                                    <img src="/assets/images/feedback/client-1.jpg" alt="">
                                </div>
                                <div class="feedback-txt">
                                    <p>Polecam z czystym sumieniem.  Super kontakt, spływ mieliśmy z przygodą burzliwą ale było super. Dodam, że pierwszy raz a wiele lat jeździmy na spływy kajakowe w kraju, kajaki były czyste jak z fabryki w życiu nie trafiliśmy na tak czyste kajaki. Właściciel podchodzi z sercem do klienta.</p>
                                </div>
                                <div class="clients-content">
                                    <span class="title">Daniel Borowski</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feedback Area End -->