        <!-- Feedback Area -->
        <section class="home6-feedback-area pt-100 pb-100" data-background="assets/images/home6/feedback-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="title-style-4 text-center">
                            <span class="bixol-subtitle before-line">Kajaki24 Warka</span>
                            <h2>Opinie klientów</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="home6-feedback-bottom">
                    <div class="clients-thumbs">
                        <span><img src="assets/images/home6/client-thumb-1.png" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-2.png" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-3.png" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-4.png" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-5.png" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-6.png" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-7.png" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-8.html" alt=""></span>
                        <span><img src="assets/images/home6/client-thumb-9.html" alt=""></span>
                    </div>
                    <div class="home6-feedback-slider">
                        <div class="feedback-wrapper">
                            <div class="feedback-single">
                                <div class="img-wrapper">
                                    <img src="assets/images/home6/client-1.jpg" alt="">
                                </div>
                                <div class="feedback-txt">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed deiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum cumsan lacus vel
                                        facilsisuis ipsum cumsan lacus vel facili</p>
                                </div>
                                <div class="clients-content">
                                    <span class="title">Jhon smith</span>
                                    <span class="designation">Ceo & Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="feedback-wrapper">
                            <div class="feedback-single">
                                <div class="img-wrapper">
                                    <img src="assets/images/home6/client-1.jpg" alt="">
                                </div>
                                <div class="feedback-txt">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed deiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum cumsan lacus vel
                                        facilsisuis ipsum cumsan lacus vel facili</p>
                                </div>
                                <div class="clients-content">
                                    <span class="title">Jhon smith</span>
                                    <span class="designation">Ceo & Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="feedback-wrapper">
                            <div class="feedback-single">
                                <div class="img-wrapper">
                                    <img src="assets/images/home6/client-1.jpg" alt="">
                                </div>
                                <div class="feedback-txt">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed deiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum cumsan lacus vel
                                        facilsisuis ipsum cumsan lacus vel facili</p>
                                </div>
                                <div class="clients-content">
                                    <span class="title">Jhon smith</span>
                                    <span class="designation">Ceo & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feedback Area End -->