<section class="section-hero pt-150 pb-200">
    <div class="container">
        <div class="col-md-6">
            <h1>
                Spływy kajakowe pilicą - Warka
            </h1>
            <p class="mt-20 mb-30">
                Przygotuj się na niezapomnianą przygodę na wodzie, pełną pięknych krajobrazów i ekscytujących doświadczeń.      
            </p>
            <a href="/kontakt" class="home5-primary-btn">
                Zarezerwuj
                <span><i class="fas fa-long-arrow-alt-right"></i></span>
            </a>
        </div>
    </div>
</section>