<section class="section-hero pt-120 pb-200 p-relative">
    <div class="container">
        <div class="col-md-6">
            <span class="bixol-subtitle split-text-lines">Kajaki24 Warka</span>
            <h1 class="mt-10 split-text-lines-load">
                <span class="thin-text">Spływy kajakowe </span> <br />pilicą -  Warka
            </h1>
            <p class="mt-20 mb-30 split-text-lines-load">
                Przygotuj się na niezapomnianą przygodę na wodzie, pełną pięknych krajobrazów i ekscytujących doświadczeń.      
            </p>
            <div class="fade-in">
                <a href="tel:+48733240024" class="home5-primary-btn" title="Zadzwoń">
                    Zadzwoń
                    <span><i class="fas fa-long-arrow-alt-right"></i></span>
                </a>
            </div>
        </div>
    </div>
        <div class="big-text-wrap">
            <div class="container">
                <img src="/assets/images/big-text.png" alt="">
            </div>
        </div>
</section>
