<rs-fullwidth-wrap id="rev_slider_6_1_forcefullwidth" style="margin-top:0px;margin-bottom:0px;">
    <rs-module-wrap id="rev_slider_6_1_wrapper" data-alias="home-6" data-source="gallery"
        style="visibility: visible; background: transparent; padding: 0px; margin: 0px auto; width: 1663px; height: 840px; position: absolute; overflow: visible; left: 0px;">
        <rs-module id="rev_slider_6_1" data-version="6.5.7" data-idcheck="true"
            style="width: 1663px; height: 840px; max-height: 840px;"
            class="revslider-initialised rev_redraw_on_blurfocus" data-slideactive="rs-16">

            <rs-loader class="spinner0 " style="display: none;">
                <div class="dot1"></div>
                <div class="dot2"></div>
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </rs-loader>
            <rs-progress style="visibility:hidden;">
                <rs-progress-bar style="background: rgba(255, 255, 255, 0.5);"></rs-progress-bar>
            </rs-progress>
            <rs-slides style="visibility: visible; max-height: none; height: 100%; width: 100%; overflow: hidden;">
                <rs-slide
                    style="position: absolute; overflow: hidden; height: 100%; width: 100%; z-index: 20; opacity: 1; visibility: inherit;"
                    data-key="rs-16" data-title="Slide" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;"
                    data-originalindex="1" data-origindex="0" data-description="" data-sba="" data-scroll-based="false"
                    data-owidth="1920" data-oheight="838" data-rspausetimeronce="0" data-isactiveslide="true">
                    <rs-sbg-px>
                        <rs-sbg-wrap data-key="rs-16" data-owidth="1920" data-oheight="838">
                            <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="assets/images/slider/home6/h6-bg-slider1.jpg" title="h6-bg-slider1" class="rev-slidebg tp-rs-img" data-parallax="off" data-no-retina="" width="1920" height="838">-->
                            <rs-sbg class="" data-bgcolor="transparent" style="width: 100%; height: 100%;"
                                data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-bg-slider1.jpg">
                                <canvas
                                    style="width: 100%; height: 100%; background-color: transparent; opacity: 1; filter: none;"
                                    width="1663" height="840"></canvas></rs-sbg>
                        </rs-sbg-wrap>
                    </rs-sbg-px>


                    <rs-group-wrap class="rs-parallax-wrap"
                        style="position: absolute; pointer-events: auto; height: 350px; left: 246.5px; top: 245px; z-index: 30; visibility: visible;">
                        <rs-loop-wrap style="position:absolute;">
                            <rs-mask-wrap style="position: absolute; overflow: visible;">
                                <rs-group id="slider-6-slide-16-layer-17" data-type="group"
                                    data-xy="xo:30px,30px,24px,20px;y:m;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:800px,800px,800px,460px;h:350px,350px,300px,275px;" data-rsp_o="off"
                                    data-rsp_bd="off" data-frame_0="o:1;" data-frame_999="o:0;st:w;sR:8700;sA:9000;"
                                    style="z-index: 30; color: rgb(255, 255, 255); width: 800px; height: 350px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; transform: translate(0px); opacity: 1; visibility: visible;"
                                    class="rs-layer" data-idcheck="true" data-stylerecorder="true"
                                    data-initialised="true">
                                    <rs-layer-wrap class="rs-parallax-wrap"
                                        style="position: absolute; display: block; pointer-events: auto; left: 0px; top: 0px; z-index: 25; visibility: visible;">
                                        <rs-loop-wrap style="position:absolute;display:block;">
                                            <rs-mask-wrap
                                                style="position: absolute; display: block; transform-origin: 50% 50% 0px; transform: translate(0px); overflow: hidden;">
                                                <rs-layer id="slider-6-slide-16-layer-18" data-type="text"
                                                    data-color="#ffd532" data-text="w:normal;s:19,19,17,16;l:26;fw:700;"
                                                    data-rsp_o="off" data-rsp_bd="off" data-frame_0="y:100%;"
                                                    data-frame_0_mask="u:t;"
                                                    data-frame_1="e:back.inOut;st:700;sp:1400;sR:700;"
                                                    data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6900;"
                                                    style="z-index: 25; font-family: &quot;Roboto&quot;; text-transform: uppercase; height: auto; width: auto; color: rgb(255, 213, 50); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 26px; letter-spacing: 0px; font-weight: 700; font-size: 19px; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                                    class="rs-layer" data-idcheck="true" data-stylerecorder="true"
                                                    data-initialised="true">We are the best ........
                                                </rs-layer>
                                            </rs-mask-wrap>
                                        </rs-loop-wrap>
                                    </rs-layer-wrap>

                                    <rs-layer-wrap class="rs-parallax-wrap"
                                        style="position: absolute; display: block; pointer-events: auto; left: 0px; top: 35px; z-index: 26; visibility: visible;">
                                        <rs-loop-wrap style="position:absolute;display:block;">
                                            <rs-mask-wrap
                                                style="position: absolute; display: block; transform-origin: 50% 50% 0px; transform: translate(0px); overflow: hidden;">
                                                <rs-layer id="slider-6-slide-16-layer-19" class="letter-20 rs-layer"
                                                    data-type="text" data-xy="yo:35px;"
                                                    data-text="w:normal;s:60,60,38,25;l:72,72,48,32;fw:700;"
                                                    data-rsp_o="off" data-rsp_bd="off" data-frame_0="y:100%;"
                                                    data-frame_0_mask="u:t;"
                                                    data-frame_1="e:back.inOut;st:1000;sp:1600;sR:1000;"
                                                    data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6400;"
                                                    style="z-index: 26; font-family: &quot;Poppins&quot;; height: auto; width: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 72px; letter-spacing: 0px; font-weight: 700; font-size: 60px; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                                    data-idcheck="true" data-stylerecorder="true"
                                                    data-initialised="true">We Are Best <b
                                                        class="h6-title-slider">Cleaning</b><br>Services &amp; Solution
                                                </rs-layer>
                                            </rs-mask-wrap>
                                        </rs-loop-wrap>
                                    </rs-layer-wrap>

                                    <rs-layer-wrap class="rs-parallax-wrap"
                                        style="position: absolute; display: block; pointer-events: auto; left: 0px; top: 194px; z-index: 27; visibility: visible;">
                                        <rs-loop-wrap style="position:absolute;display:block;">
                                            <rs-mask-wrap
                                                style="position: absolute; display: block; transform-origin: 50% 50% 0px; transform: translate(0px); overflow: hidden;">
                                                <rs-layer id="slider-6-slide-16-layer-20" data-type="text"
                                                    data-xy="yo:194px,194px,145px,115px;"
                                                    data-text="w:normal;s:17,17,15,14;l:27,27,26,25;"
                                                    data-dim="w:600px,600px,440px,290px;" data-rsp_o="off"
                                                    data-rsp_bd="off" data-frame_0="y:100%;" data-frame_0_mask="u:t;"
                                                    data-frame_1="e:back.inOut;st:1300;sp:1400;sR:1300;"
                                                    data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6300;"
                                                    style="z-index: 27; font-family: &quot;Roboto&quot;; height: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: normal; width: 600px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 27px; letter-spacing: 0px; font-weight: 400; font-size: 17px; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                                    class="rs-layer" data-idcheck="true" data-stylerecorder="true"
                                                    data-initialised="true">Our purpose is to build solutions that
                                                    remove barriers preventing people from doing their best work, and
                                                    this is at the heart.
                                                </rs-layer>
                                            </rs-mask-wrap>
                                        </rs-loop-wrap>
                                    </rs-layer-wrap>

                                    <rs-layer-wrap class="rs-parallax-wrap"
                                        style="position: absolute; display: block; pointer-events: auto; left: 0px; top: 295px; z-index: 28; visibility: visible;">
                                        <rs-loop-wrap style="position:absolute;display:block;">
                                            <rs-mask-wrap
                                                style="position: absolute; display: block; transform-origin: 50% 50% 0px; transform: translate(0px); overflow: hidden;">
                                                <a id="slider-6-slide-16-layer-21" class="rs-layer rev-btn"
                                                    href="https://demo.casethemes.net/bixol/services/" target="_self"
                                                    rel="nofollow" data-type="button" data-xy="y:b;"
                                                    data-text="w:normal;s:15,15,15,14;l:55,55,55,50;fw:600;"
                                                    data-dim="minh:0px,none,none,none;" data-rsp_o="off"
                                                    data-rsp_bd="off" data-padding="r:42,42,42,22;l:42,42,42,22;"
                                                    data-border="bor:5px,5px,5px,5px;" data-frame_0="y:100%;"
                                                    data-frame_0_mask="u:t;"
                                                    data-frame_1="e:back.inOut;st:1600;sp:1400;sR:1600;"
                                                    data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;"
                                                    data-frame_hover="c:#14287b;bgc:#ffd532;bor:5px,5px,5px,5px;"
                                                    style="z-index: 28; background-color: rgb(98, 141, 251); font-family: &quot;Poppins&quot;; height: auto; width: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 55px; letter-spacing: 0px; font-weight: 600; font-size: 15px; padding-left: 42px; border-radius: 5px; padding-right: 42px; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                                    data-idcheck="true" data-stylerecorder="true"
                                                    data-initialised="true">Our service
                                                </a></rs-mask-wrap>
                                        </rs-loop-wrap>
                                    </rs-layer-wrap>

                                    <rs-layer-wrap class="rs-parallax-wrap"
                                        style="position: absolute; display: block; pointer-events: auto; left: 200px; top: 295px; z-index: 29; visibility: visible;">
                                        <rs-loop-wrap style="position:absolute;display:block;">
                                            <rs-mask-wrap
                                                style="position: absolute; display: block; transform-origin: 50% 50% 0px; transform: translate(0px); overflow: hidden;">
                                                <a id="slider-6-slide-16-layer-23" class="rs-layer rev-btn"
                                                    href="https://demo.casethemes.net/bixol/contact-us/" target="_self"
                                                    rel="nofollow" data-type="button"
                                                    data-xy="xo:200px,200px,200px,140px;y:b;"
                                                    data-text="w:normal;s:15,15,15,14;l:51,51,51,46;fw:600;"
                                                    data-dim="minh:0px,none,none,none;" data-rsp_o="off"
                                                    data-rsp_bd="off" data-padding="r:42,42,42,22;l:42,42,42,22;"
                                                    data-border="bos:solid;boc:#ffd532;bow:2px,2px,2px,2px;bor:5px,5px,5px,5px;"
                                                    data-frame_0="y:100%;" data-frame_0_mask="u:t;"
                                                    data-frame_1="e:back.inOut;st:1600;sp:1400;sR:1600;"
                                                    data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:6000;"
                                                    data-frame_hover="c:#14287b;bgc:#ffd532;boc:#ffd532;bor:5px,5px,5px,5px;bos:solid;bow:2px,2px,2px,2px;"
                                                    style="z-index: 29; background-color: rgba(98, 141, 251, 0); font-family: &quot;Poppins&quot;; height: auto; width: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 51px; letter-spacing: 0px; font-weight: 600; font-size: 15px; border-color: rgb(255, 213, 50); border-style: solid; border-width: 2px; padding-left: 42px; border-radius: 5px; padding-right: 42px; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                                    data-idcheck="true" data-stylerecorder="true"
                                                    data-initialised="true">Get A Quote
                                                </a></rs-mask-wrap>
                                        </rs-loop-wrap>
                                    </rs-layer-wrap>
                                </rs-group>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-group-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap"
                        style="position: absolute; display: block; pointer-events: auto; left: 906.5px; top: 202px; z-index: 8; visibility: visible;">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-0" data-type="image" data-rsp_ch="on"
                                    data-xy="x:r;xo:-690px,-790px,-600px,-370px;y:b;yo:-202px,-202px,-153px,-94px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:auto,auto,382px,235px;h:auto,auto,381px,235px;" data-vbility="t,t,f,f"
                                    data-frame_0="x:50,41,31,19;" data-frame_1="st:300;sp:1000;sR:300;"
                                    data-frame_999="o:0;st:w;sR:7700;"
                                    style="z-index: 8; color: rgb(255, 255, 255); width: 0px; height: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    class="rs-layer" data-idcheck="true" data-stylerecorder="true"
                                    data-initialised="true"><img src="assets/images/slider/home6/6-slider-shape2.png"
                                        alt="" class="tp-rs-img" data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/6-slider-shape2.png"
                                        style="position: relative; height: 100%; width: 100%;" width="947" height="945">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap"
                        style="position: absolute; display: block; pointer-events: auto; left: 839.5px; top: 29px; z-index: 9; visibility: visible;">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-1" data-type="image" data-rsp_ch="on"
                                    data-xy="x:r;xo:-30px,-130px,-48px,-29px;y:b;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:637px,537px,407px,251px;h:811px,684px,519px,320px;"
                                    data-vbility="t,t,f,f" data-frame_0="x:50,41,31,19;"
                                    data-frame_1="st:900;sp:1000;sR:900;" data-frame_999="o:0;st:w;sR:7100;"
                                    style="z-index: 9; color: rgb(255, 255, 255); width: 637px; height: 811px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    class="rs-layer" data-idcheck="true" data-stylerecorder="true"
                                    data-initialised="true"><img src="assets/images/slider/home6/h6-slider-women1.png"
                                        alt="" class="tp-rs-img" data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-slider-women1.png"
                                        style="position: relative; height: 100%; width: 100%;" width="637" height="811">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap"
                        style="position: absolute; display: block; pointer-events: auto; left: 1548.5px; top: 483px; z-index: 10; visibility: visible;">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-2" data-type="image" data-rsp_ch="on"
                                    data-xy="x:r;xo:-300px,-349px,-265px,-163px;y:b;yo:250px,208px,158px,97px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:198px,164px,124px,76px;h:107px,89px,67px,41px;" data-vbility="t,t,f,f"
                                    data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:1200;sp:1400;sR:1200;"
                                    data-frame_999="o:0;st:w;sR:6800;"
                                    style="z-index: 10; color: rgb(255, 255, 255); width: 198px; height: 107px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    class="rs-layer" data-idcheck="true" data-stylerecorder="true"
                                    data-initialised="true"><img src="assets/images/slider/home6/h6-slider-call.png"
                                        alt="" class="tp-rs-img" data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-slider-call.png"
                                        style="position: relative; height: 100%; width: 100%;" width="198" height="107">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap"
                        style="position: absolute; display: block; pointer-events: auto; left: 1484.5px; top: 405px; z-index: 11; visibility: visible;">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-3" data-type="image" data-rsp_ch="on"
                                    data-xy="x:r;xo:-110px,-191px,-145px,-89px;y:b;yo:400px,333px,253px,156px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:72px,59px,44px,27px;h:35px,29px,22px,13px;" data-vbility="t,t,f,f"
                                    data-frame_0="x:-50,-41,-31,-19;" data-frame_1="st:1400;sp:1000;sR:1400;"
                                    data-frame_999="o:0;st:w;sR:6600;"
                                    style="z-index: 11; color: rgb(255, 255, 255); width: 72px; height: 35px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    class="rs-layer" data-idcheck="true" data-stylerecorder="true"
                                    data-initialised="true"><img src="assets/images/slider/home6/h6-slider-arrow1.png"
                                        alt="" class="tp-rs-img" data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-slider-arrow1.png"
                                        style="position: relative; height: 100%; width: 100%;" width="72" height="35">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 1489px; top: 98px; z-index: 12; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="8">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-4" class="rs-pxl-2 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="x:r;xo:80px,66px,50px,30px;yo:98px,81px,61px,37px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:94px,78px,59px,36px;h:94px,78px,59px,36px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:1700;sp:1000;sR:1700;"
                                    data-frame_999="o:0;st:w;sR:6300;"
                                    style="z-index: 12; color: rgb(255, 255, 255); width: 94px; height: 94px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon1.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon1.png"
                                        style="position: relative; height: 100%; width: 100%;" width="94" height="94">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 1341px; top: 175px; z-index: 13; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="8">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-5" class="rs-pxl-2 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="x:r;xo:275px,228px,173px,106px;yo:175px,145px,110px,67px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:47px,39px,29px,17px;h:47px,39px,29px,17px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2000;sp:1000;sR:2000;"
                                    data-frame_999="o:0;st:w;sR:6000;"
                                    style="z-index: 13; color: rgb(255, 255, 255); width: 47px; height: 47px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon2.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon2.png"
                                        style="position: relative; height: 100%; width: 100%;" width="47" height="47">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 46px; top: 46px; z-index: 14; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="8">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-6" class="rs-pxl-2 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:46px,38px,28px,17px;yo:46px,38px,28px,17px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:94px,78px,59px,36px;h:94px,78px,59px,36px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2600;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:6100;"
                                    style="z-index: 14; color: rgb(255, 255, 255); width: 94px; height: 94px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon1.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon1.png"
                                        style="position: relative; height: 100%; width: 100%;" width="94" height="94">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 520px; top: 67px; z-index: 15; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="16">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-7" class="rs-pxl-7 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:520px,432px,328px,202px;yo:67px,55px,41px,25px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:94px,78px,59px,36px;h:94px,78px,59px,36px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2400;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:6300;"
                                    style="z-index: 15; color: rgb(255, 255, 255); width: 94px; height: 94px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon1.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon1.png"
                                        style="position: relative; height: 100%; width: 100%;" width="94" height="94">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 43px; top: 410px; z-index: 16; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="8">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-8" class="rs-pxl-2 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:43px,35px,26px,16px;yo:410px,341px,259px,159px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:94px,78px,59px,36px;h:94px,78px,59px,36px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2000;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:6700;"
                                    style="z-index: 16; color: rgb(255, 255, 255); width: 94px; height: 94px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon1.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon1.png"
                                        style="position: relative; height: 100%; width: 100%;" width="94" height="94">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 224px; top: 36px; z-index: 17; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="12">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-9" class="rs-pxl-6 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:224px,186px,141px,86px;yo:36px,29px,22px,13px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:40px,33px,25px,15px;h:39px,32px,24px,14px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2800;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:5900;"
                                    style="z-index: 17; color: rgb(255, 255, 255); width: 40px; height: 39px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon3.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon3.png"
                                        style="position: relative; height: 100%; width: 100%;" width="40" height="39">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 264px; top: 100px; z-index: 18; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="8">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-10" class="rs-pxl-2 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:264px,219px,166px,102px;yo:100px,83px,63px,38px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:16px,13px,9px,5px;h:15px,12px,9px,5px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2600;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:6100;"
                                    style="z-index: 18; color: rgb(255, 255, 255); width: 16px; height: 15px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon5.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon5.png"
                                        style="position: relative; height: 100%; width: 100%;" width="16" height="15">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 335px; top: 75px; z-index: 19; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="8">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-11" class="rs-pxl-2 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:335px,278px,211px,130px;yo:75px,62px,47px,28px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:16px,13px,9px,5px;h:15px,12px,9px,5px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2800;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:5900;"
                                    style="z-index: 19; color: rgb(255, 255, 255); width: 16px; height: 15px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon5.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon5.png"
                                        style="position: relative; height: 100%; width: 100%;" width="16" height="15">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 44px; top: 262px; z-index: 20; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="8">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-12" class="rs-pxl-2 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:44px,36px,27px,16px;yo:262px,218px,165px,101px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:47px,39px,29px,17px;h:47px,39px,29px,17px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:2000;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:6700;"
                                    style="z-index: 20; color: rgb(255, 255, 255); width: 47px; height: 47px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon2.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon2.png"
                                        style="position: relative; height: 100%; width: 100%;" width="47" height="47">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 305px; top: 559px; z-index: 21; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="6">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-13" class="rs-pxl-1 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:305px,253px,192px,118px;y:b;yo:234px,194px,147px,90px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:47px,39px,29px,17px;h:47px,39px,29px,17px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:1800;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:6900;"
                                    style="z-index: 21; color: rgb(255, 255, 255); width: 47px; height: 47px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon2.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon2.png"
                                        style="position: relative; height: 100%; width: 100%;" width="47" height="47">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 279px; top: 703px; z-index: 22; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="12">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-14" class="rs-pxl-6 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:279px,232px,176px,108px;y:b;yo:90px,74px,56px,34px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:47px,39px,29px,17px;h:47px,39px,29px,17px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:1600;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:7100;"
                                    style="z-index: 22; color: rgb(255, 255, 255); width: 47px; height: 47px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon2.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon2.png"
                                        style="position: relative; height: 100%; width: 100%;" width="47" height="47">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 104px; top: 721px; z-index: 23; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="6">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-15" class="rs-pxl-1 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:104px,86px,65px,40px;y:b;yo:104px,86px,65px,40px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:16px,13px,9px,5px;h:15px,12px,9px,5px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:1600;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:7100;"
                                    style="z-index: 23; color: rgb(255, 255, 255); width: 16px; height: 15px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon5.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon5.png"
                                        style="position: relative; height: 100%; width: 100%;" width="16" height="15">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>

                    <rs-layer-wrap class="rs-parallax-wrap tp-parallax-container"
                        style="position: absolute; display: block; pointer-events: auto; left: 140px; top: 751px; z-index: 24; transform: translate(0px); visibility: visible;"
                        data-parallaxlevel="6">
                        <rs-loop-wrap style="position:absolute;display:block;">
                            <rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
                                <rs-layer id="slider-6-slide-16-layer-16" class="rs-pxl-1 rs-layer" data-type="image"
                                    data-rsp_ch="on" data-xy="xo:140px,116px,88px,54px;y:b;yo:74px,61px,46px,28px;"
                                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                                    data-dim="w:16px,13px,9px,5px;h:15px,12px,9px,5px;" data-basealign="slide"
                                    data-frame_0="y:top;" data-frame_1="st:1400;sp:1000;"
                                    data-frame_999="o:0;st:w;sR:7300;"
                                    style="z-index: 24; color: rgb(255, 255, 255); width: 16px; height: 15px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50% 0px; opacity: 1; transform: translate(0px); visibility: visible;"
                                    data-idcheck="true" data-stylerecorder="true" data-initialised="true"><img
                                        src="assets/images/slider/home6/h6-balloon5.png" alt="" class="tp-rs-img"
                                        data-no-retina=""
                                        data-src-rs-ref="file:///C:/Users/Przemek/Desktop/bixol/assets/images/slider/home6/h6-balloon5.png"
                                        style="position: relative; height: 100%; width: 100%;" width="16" height="15">
                                </rs-layer>
                            </rs-mask-wrap>
                        </rs-loop-wrap>
                    </rs-layer-wrap>
                </rs-slide>
            </rs-slides>
        </rs-module>

    </rs-module-wrap>
    <rs-fw-forcer style="height:840px"></rs-fw-forcer>
</rs-fullwidth-wrap>