<section class="hero-main pt-xxlarge pb-xlarge">
    <div class="container">
        <h1 class="h2 split-text-lines mb-0">
            Najlepsze Spływy Kajakowe Pilicą Warka
        </h1>
        <div class="kayak-wrap">
            <p class="big-text split-text-letters mt-4 mb-2">
                Kajaki
            </p>
            <img src="/assets/images/kayak-main.png" class="kayak fade-in" alt="">
        </div>
        <div class="col-md-7 mx-auto">
            <p class="big-paragraph split-text-lines mt-0">
                Przygotuj się na niezapomnianą przygodę na wodzie, pełną pięknych krajobrazów i ekscytujących doświadczeń.
            </p>
        </div>
    </div>
</section>