<!-- Pricing Table -->
<section class="home6-pricing-table pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title-style-4 text-center">
                    <span class="bixol-subtitle before-line fade-in">Kajaki24 Warka</span>
                    <h2 class="split-text-lines">Sprawdź cennik</h2>
                </div>
            </div>
        </div>
        <div class="home6-pricing">
            <div class="row justify-content-center">
                {% for post in collections.cennik['Trasy jednodniowe'] %}
                <div class="col-lg-4 col-md-6">
                    <div class="home6-pricing-column fade-in">
                        <div class="h6-headline">
                            <h4>{{ post.data.title }}</h4>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Czas spływu: {{ post.data.rafting_time }}h</li>
                                <li>Długość trasy: {{ post.data.route_length }}km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <h2>{{ post.data.price }}zł</h2>
                        </div>
                        <div class="price-btn">
                            <a href="tel:+48733240024" title="Zarezerwuj telefonicznie">Zarezerwuj</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center fade-in">
            <a href="/cennik" class="home5-primary-btn">
                Zobacz wszystko
                <span><i class="fas fa-long-arrow-alt-right"></i></span>
            </a>
        </div>
    </div>
</section>
<!-- Pricing Plan End -->