<!-- Pricing Table -->
<section class="home6-pricing-table pt-100 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title-style-4 text-center">
                    <span class="bixol-subtitle before-line">Kajaki24 Warka</span>
                    <h2>Sprawdź cennik</h2>
                </div>
            </div>
        </div>
        <div class="home6-pricing">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="home6-pricing-column">
                        <div class="h6-headline">
                            <h5>Budy Michałowskie <br />- Warka</h5>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Czas spływu: 3,5h</li>
                                <li>Długość trasy: 16km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <h2>100zł</h2>
                        </div>
                        <div class="price-btn">
                            <a href="#">Zarezerwuj</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="home6-pricing-column">
                        <div class="h6-headline">
                            <h5>Warka <br />- Mniszew</h5>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Czas spływu: 3,5h</li>
                                <li>Długość trasy: 15,6km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <h2>100zł</h2>
                        </div>
                        <div class="price-btn">
                            <a href="#">Zarezerwuj</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="home6-pricing-column">
                        <div class="h6-headline">
                            <h5>Lechanice <br />- Warka</h5>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Czas spływu: 1,5h</li>
                                <li>Długość trasy: 7,6km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <h2>90zł</h2>
                        </div>
                        <div class="price-btn">
                            <a href="#">Zarezerwuj</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="home6-pricing-column">
                        <div class="h6-headline">
                            <h5>Białobrzegi <br />- Warka</h5>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Czas spływu: 8-9h</li>
                                <li>Długość trasy: 28,7km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <h2>120zł</h2>
                        </div>
                        <div class="price-btn">
                            <a href="#">Zarezerwuj</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="home6-pricing-column">
                        <div class="h6-headline">
                            <h5>Biejków <br />- Warka</h5>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Czas spływu: 5-6h</li>
                                <li>Długość trasy: 21km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <h2>110zł</h2>
                        </div>
                        <div class="price-btn">
                            <a href="#">Zarezerwuj</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="home6-pricing-column">
                        <div class="h6-headline">
                            <h5>Budy Michałowskie <br />- Mniszew</h5>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Czas spływu: 5-6h</li>
                                <li>Długość trasy: 31,6km</li>
                            </ul>
                        </div>
                        <div class="price-area">
                            <h2>120zł</h2>
                        </div>
                        <div class="price-btn">
                            <a href="#">Zarezerwuj</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Plan End -->