        <section class="home6-process-section pt-100 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 pb-60">
                        <div class="title-style-4 text-center">
                            <span class="bixol-subtitle before-line fade-in">Kajaki24 Warka</span>
                            <h2 class="split-text-lines">Harmonogram spływu</h2>
                            <p class="split-text-lines">Tu znajdziesz wszystkie istotne informacje dotyczące organizacji spływu. </p>
                        </div>
                    </div>
                </div>
                <div class="home6-process-bottom" data-background="assets/images/home6/line-bg.jpg">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="process-column fade-in">
                                <div class="icon-wrapper">
                                    <span><i class="flaticonv2 flaticonv2-recruitment"></i></span>
                                    <span class="count">1</span>
                                </div>
                                <div class="item-content">
                                    <div class="h6-headline">
                                        <h5>Wybierz trasę</h5>
                                    </div>
                                    <div class="h6-pera-txt">
                                        <p>Sed ut perspiciatis unde omnis iste natus error voluptatem</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="process-column fade-in">
                                <div class="icon-wrapper">
                                    <span><i class="flaticonv2 flaticonv2-settings"></i></span>
                                    <span class="count">2</span>
                                </div>
                                <div class="item-content">
                                    <div class="h6-headline">
                                        <h5>Rozpoczęcie spływu</h5>
                                    </div>
                                    <div class="h6-pera-txt">
                                        <p>Sed ut perspiciatis unde omnis iste natus error voluptatem</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="process-column fade-in">
                                <div class="icon-wrapper">
                                    <span><i class="flaticonv2 flaticonv2-appointment"></i></span>
                                    <span class="count">3</span>
                                </div>
                                <div class="item-content">
                                    <div class="h6-headline">
                                        <h5>Koniec spływu</h5>
                                    </div>
                                    <div class="h6-pera-txt">
                                        <p>Sed ut perspiciatis unde omnis iste natus error voluptatem</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
