<section class="h4-project-section pt-100 mb-200" data-background="assets/images/home4/project-bg.jpg"
    style="background-image: url(&quot;assets/images/home4/project-bg.jpg&quot;);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="title-style-2">
                    <span class="bixol-subtitle">_Our Sucessful Project_</span>
                    <h3>Keep your vision to our latest projects.</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="h4-bf-desc">
                    <p>Now you can host more parties and rely on our cleaners to do all the hard work for you. At Denver
                        Cleaning Service Company we show your home some TLC because we care!</p>
                </div>
            </div>
        </div>
        <div class="h4-project-slider slick-initialized slick-slider slick-dotted">
            <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 4228px; transform: translate3d(-1208px, 0px, 0px);">
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="-4" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-2.jpg" alt="">
                        <div class="project-content">
                            <h5>Office Cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Office Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="-3" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-3.jpg" alt="">
                        <div class="project-content">
                            <h5>Tiles cleaning</h5>
                            <span>Plumbing</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Tiles Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Plumbing Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="-2" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Window cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Window Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="-1" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Home cleaning</h5>
                            <span>Cleaning Cleaning</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Home Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-current slick-active" data-slick-index="0"
                        aria-hidden="false" style="width: 272px;" tabindex="0" role="tabpanel" id="slick-slide10"
                        aria-describedby="slick-slide-control10">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Bixol cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="0"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="0">
                                <h5>Bixol Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="0"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                        style="width: 272px;" tabindex="0" role="tabpanel" id="slick-slide11">
                        <img src="assets/images/home4/project-2.jpg" alt="">
                        <div class="project-content">
                            <h5>Office Cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="0"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="0">
                                <h5>Office Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="0"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                        style="width: 272px;" tabindex="0" role="tabpanel" id="slick-slide12">
                        <img src="assets/images/home4/project-3.jpg" alt="">
                        <div class="project-content">
                            <h5>Tiles cleaning</h5>
                            <span>Plumbing</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="0"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="0">
                                <h5>Tiles Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="0"><span>Plumbing Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-active" data-slick-index="3" aria-hidden="false"
                        style="width: 272px;" tabindex="0" role="tabpanel" id="slick-slide13"
                        aria-describedby="slick-slide-control11">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Window cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="0"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="0">
                                <h5>Window Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="0"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide" data-slick-index="4" aria-hidden="true"
                        style="width: 272px;" tabindex="-1" role="tabpanel" id="slick-slide14">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Home cleaning</h5>
                            <span>Cleaning Cleaning</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Home Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="5" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Bixol cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Bixol Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="6" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-2.jpg" alt="">
                        <div class="project-content">
                            <h5>Office Cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Office Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="7" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-3.jpg" alt="">
                        <div class="project-content">
                            <h5>Tiles cleaning</h5>
                            <span>Plumbing</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Tiles Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Plumbing Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="8" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Window cleaning</h5>
                            <span>Cleaning Services</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Window Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                    <div class="h4-project-single slick-slide slick-cloned" data-slick-index="9" id=""
                        aria-hidden="true" style="width: 272px;" tabindex="-1">
                        <img src="assets/images/home4/project-1.jpg" alt="">
                        <div class="project-content">
                            <h5>Home cleaning</h5>
                            <span>Cleaning Cleaning</span>
                        </div>
                        <div class="hover-content">
                            <a href="portfolio-details.html" class="readmore-btn" tabindex="-1"><i
                                    class="fas fa-plus"></i></a>
                            <a href="portfolio-details.html" tabindex="-1">
                                <h5>Home Cleaning</h5>
                            </a>
                            <a href="portfolio.html" tabindex="-1"><span>Cleaning Services</span></a>
                        </div>
                    </div>
                </div>
            </div>




            <ul class="slick-dots" style="" role="tablist">
                <li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control10"
                        aria-controls="slick-slide10" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button>
                </li>
                <li role="presentation"><button type="button" role="tab" id="slick-slide-control11"
                        aria-controls="slick-slide13" aria-label="2 of 2" tabindex="-1">2</button></li>
            </ul>
        </div>
    </div>
</section>