<!-- Hero Slider -->
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_5_1_wrapper" data-alias="home-5" data-source="gallery"
    style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_5_1" data-version="6.5.7">
        <rs-slides>
            <rs-slide style="position: absolute;" data-key="rs-13" data-title="Slide"
                data-thumb="assets/bg-slider11-50x100.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
                <img src="assets/images/hero-1.png" title="bg-slider11" width="1920" height="585"
                    class="rev-slidebg tp-rs-img" data-no-retina>

                <rs-group id="slider-5-slide-13-layer-1" data-type="group" data-xy="xo:30px,15px,23px,23px;y:m;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:800px;h:348px,348px,318px,288px;"
                    data-rsp_bd="off" data-frame_0="o:1;" data-frame_999="o:0;st:w;sR:8700;sA:9000;"
                    style="z-index:14;">
                    <rs-layer id="slider-5-slide-13-layer-2" data-type="text" data-color="#000000" data-xy="yo:-6px;"
                        data-text="w:normal;s:20,20,18,18;l:25,25,25,25;fw:700;" data-rsp_o="off" data-rsp_bd="off"
                        data-frame_0="y:50;" data-frame_1="st:700;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                        style="z-index:9;font-family:'Roboto';">Kajaki Warka
                    </rs-layer>

                    <rs-layer id="slider-5-slide-13-layer-3" data-type="text" data-color="#000000"
                        data-xy="yo:32px,32px,28px,28px;" data-text="w:normal;s:60,60,50,34;l:72,72,60,40;"
                        data-rsp_o="off" data-rsp_bd="off" data-frame_0="y:50;" data-frame_1="st:900;sp:1000;"
                        data-frame_999="o:0;st:w;sR:7800;" style="z-index:10;font-family:'Poppins';"><b
                            class="color-primary">Spływy </b> kajakowe<br />Pilicą Warka
                    </rs-layer>

                    <rs-layer id="slider-5-slide-13-layer-4" data-type="text" data-color="#4f4f4f"
                        data-xy="yo:198px,198px,168px,120px;" data-text="w:normal;s:18,18,18,16;l:28,28,28,26;"
                        data-dim="w:450px,450px,450px,280px;" data-rsp_o="off" data-rsp_bd="off" data-frame_0="y:50;"
                        data-frame_1="st:1100;sp:1000;" data-frame_999="o:0;st:w;sR:7600;"
                        style="z-index:11;font-family:'Roboto';">Przygotuj się na niezapomnianą przygodę na wodzie, pełną pięknych krajobrazów i ekscytujących doświadczeń.
                    </rs-layer>

                    <a id="slider-5-slide-14-layer-5" class="rs-layer" href="/o-nas" target="_self"
                        data-type="text" data-color="#111" data-xy="y:b;"
                        data-text="w:normal;s:18;l:25,20,15,9;fw:700;" data-rsp_o="off" data-rsp_bd="off"
                        data-frame_0="x:50;" data-frame_1="st:1300;sp:1000;" data-frame_999="o:0;st:w;sR:7400;"
                        style="z-index:12;font-family:'Roboto';"><span class="btn btn-slider">Zobacz cennik<i
                                class="fas fa-user"></i></span>
                    </a>

                    <a id="slider-5-slide-14-layer-6" class="rs-layer" href="/kontakt" target="_self"
                        data-type="text" data-color="#111" data-xy="xo:200px,200px,200px,150px;y:b;"
                        data-text="w:normal;s:18;l:25,20,15,9;fw:700;" data-rsp_o="off" data-rsp_bd="off"
                        data-frame_0="x:50;" data-frame_1="st:1490;sp:1000;" data-frame_999="o:0;st:w;sR:7210;"
                        style="z-index:13;font-family:'Roboto';"><span class="btn btn-slider btn-slider-dark">Zarezerwuj<i
                                class="fas fa-cog"></i></span>
                    </a>
                </rs-group>

                <rs-layer id="slider-5-slide-13-layer-0" data-type="image" data-rsp_ch="on"
                    data-xy="xo:-10px,-9px,-5px,-3px;y:b;yo:-2px,-1px,0,0;"
                    data-text="w:normal;s:20,19,12,7;l:0,24,15,9;"
                    data-dim="w:705px,687px,445px,274px;h:244px,238px,154px,95px;" data-frame_1="st:700;sR:700;"
                    data-frame_999="o:0;st:w;sR:8000;" style="z-index:8;"><img
                        src="assets/images/slider/home4/bixol-text.png" alt="bixol-text" class="tp-rs-img" width="705"
                        height="244" data-no-retina>
                </rs-layer>

            </rs-slide>
            <rs-slide style="position: absolute;" data-key="rs-14" data-title="Slide"
                data-thumb="assets/bg-slider13-50x100.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
                <img src="assets/images/hero-2.png" title="bg-slider13" width="1920" height="585"
                    class="rev-slidebg tp-rs-img" data-no-retina>

                <rs-group id="slider-5-slide-14-layer-1" data-type="group" data-xy="xo:30px,15px,23px,23px;y:m;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:800px;h:348px,348px,318px,288px;"
                    data-rsp_bd="off" data-frame_0="o:1;" data-frame_999="o:0;st:w;sR:8700;sA:9000;"
                    style="z-index:14;">
                    <rs-layer id="slider-5-slide-14-layer-2" data-type="text" data-color="#000000" data-xy="yo:-6px;"
                        data-text="w:normal;s:20,20,18,18;l:25,25,25,25;fw:700;" data-rsp_o="off" data-rsp_bd="off"
                        data-frame_0="y:50;" data-frame_1="st:700;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                        style="z-index:9;font-family:'Roboto';">Kajaki Warka
                    </rs-layer>

                    <rs-layer id="slider-5-slide-14-layer-3" data-type="text" data-color="#000000"
                        data-xy="yo:32px,32px,28px,28px;" data-text="w:normal;s:60,60,50,34;l:72,72,60,40;"
                        data-rsp_o="off" data-rsp_bd="off" data-frame_0="y:50;" data-frame_1="st:900;sp:1000;"
                        data-frame_999="o:0;st:w;sR:7800;" style="z-index:10;font-family:'Poppins';"><b
                            class="color-primary">Spływy </b> kajakowe<br />Pilicą Warka
                    </rs-layer>

                    <rs-layer id="slider-5-slide-14-layer-4" data-type="text" data-color="#4f4f4f"
                        data-xy="yo:198px,198px,168px,120px;" data-text="w:normal;s:18,18,18,16;l:28,28,28,26;"
                        data-dim="w:450px,450px,450px,280px;" data-rsp_o="off" data-rsp_bd="off" data-frame_0="y:50;"
                        data-frame_1="st:1100;sp:1000;" data-frame_999="o:0;st:w;sR:7600;"
                        style="z-index:11;font-family:'Roboto';">Przygotuj się na niezapomnianą przygodę na wodzie, pełną pięknych krajobrazów i ekscytujących doświadczeń.
                    </rs-layer>

                    <a id="slider-5-slide-14-layer-5" class="rs-layer" href="/o-nas" target="_self"
                        data-type="text" data-color="#111" data-xy="y:b;"
                        data-text="w:normal;s:18;l:25,20,15,9;fw:700;" data-rsp_o="off" data-rsp_bd="off"
                        data-frame_0="x:50;" data-frame_1="st:1300;sp:1000;" data-frame_999="o:0;st:w;sR:7400;"
                        style="z-index:12;font-family:'Roboto';"><span class="btn btn-slider">Zobacz cennik<i
                                class="fas fa-user"></i></span>
                    </a>

                    <a id="slider-5-slide-14-layer-6" class="rs-layer" href="/kontakt" target="_self"
                        data-type="text" data-color="#111" data-xy="xo:200px,200px,200px,150px;y:b;"
                        data-text="w:normal;s:18;l:25,20,15,9;fw:700;" data-rsp_o="off" data-rsp_bd="off"
                        data-frame_0="x:50;" data-frame_1="st:1490;sp:1000;" data-frame_999="o:0;st:w;sR:7210;"
                        style="z-index:13;font-family:'Roboto';"><span class="btn btn-slider btn-slider-dark">Zarezerwuj<i
                                class="fas fa-cog"></i></span>
                    </a>

                </rs-group>

                <rs-layer id="slider-5-slide-14-layer-0" data-type="image" data-rsp_ch="on"
                    data-xy="xo:-10px,-9px,-5px,-3px;y:b;yo:-2px,-1px,0,0;"
                    data-text="w:normal;s:20,19,12,7;l:0,24,15,9;"
                    data-dim="w:705px,687px,445px,274px;h:244px,238px,154px,95px;" data-frame_1="st:700;sR:700;"
                    data-frame_999="o:0;st:w;sR:8000;" style="z-index:8;"><img
                        src="assets/images/slider/home4/bixol-text.png" alt="bixol-text" class="tp-rs-img" width="705"
                        height="244" data-no-retina>
                </rs-layer>

            </rs-slide>
        </rs-slides>
    </rs-module>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->