<section class="home6-team pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title-style-4 text-center">
                    <span class="bixol-subtitle before-line">Expert team</span>
                    <h2>We've Have an expert Team</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="home6-team-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="team-column">
                        <div class="team-top">
                            <div class="thumb-wrapper">
                                <img src="assets/images/home6/team-1.jpg" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h5>Dianne Russel</h5>
                            <span>Office Cleaning</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="team-column">
                        <div class="team-top">
                            <div class="thumb-wrapper">
                                <img src="assets/images/home6/team-2.jpg" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h5>David Cuper</h5>
                            <span>Hospital Cleaner</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="team-column">
                        <div class="team-top">
                            <div class="thumb-wrapper">
                                <img src="assets/images/home6/team-3.jpg" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h5>Sarah Taylor</h5>
                            <span>Plumbing Cleaning</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="team-column">
                        <div class="team-top">
                            <div class="thumb-wrapper">
                                <img src="assets/images/home6/team-4.jpg" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h5>wiliams taylor</h5>
                            <span>House Cleaning</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>