<section class="bixol-service-section pt-120 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="bixol-services pt-30">
                    <div class="bixol-service-item">
                        <div class="bixol-service-content fade-in">
                            <h5>Bezpieczeństwo</h5>
                            <p>Wygodne i bezpieczne kajaki</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content fade-in">
                            <h5>Profesjonalna obsługa</h5>
                            <p>Zapewniamy profesjonalną obsługę</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content fade-in">
                            <h5>Duży wybór tras</h5>
                            <p>Oferujemy duży wybór tras spływów</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bixol-service-middle fade-in">
                    <div class="img-wrapper">
                        <img src="/assets/images/gallery/k-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bixol-services pt-30">
                    <div class="bixol-service-item">
                        <div class="bixol-service-content fade-in">
                            <h5>Konkurencyjne ceny</h5>
                            <p>Konkurencyjne ceny i promocje</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content fade-in">
                            <h5>Dodatkowe atrakcje</h5>
                            <p>As a app web crawler expert</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content fade-in">
                            <h5>Elastyczne podejśćie</h5>
                            <p>As a app web crawler expert </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
