<section class="bixol-service-section pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="bixol-services">
                    <div class="bixol-service-item">
                        <div class="bixol-service-content">
                            <h5>Kajaki24 Warka</h5>
                            <p>As a app web crawler expert a significant of internet.</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content">
                            <h5>Kajaki24 Warka</h5>
                            <p>As a app web crawler expert a significant of internet.</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content">
                            <h5>Kajaki24 Warka</h5>
                            <p>As a app web crawler expert a significant of internet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bixol-service-middle">
                    <div class="img-wrapper">
                        <img src="/assets/images/gallery/k-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bixol-services">
                    <div class="bixol-service-item">
                        <div class="bixol-service-content">
                            <h5>Kajaki24 Warka</h5>
                            <p>As a app web crawler expert a significant of internet.</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content">
                            <h5>Kajaki24 Warka</h5>
                            <p>As a app web crawler expert a significant of internet.</p>
                        </div>
                    </div>
                    <div class="bixol-service-item">
                        <div class="bixol-service-content">
                            <h5>Kajaki24 Warka</h5>
                            <p>As a app web crawler expert a significant of internet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
