<section>
    <div class="container">
        <div class="col-md-8 col-xl-5 mx-auto">
        <div id="inpl-weather-main" class="inpl-weather-main" data-langId="1" data-unitId="E" data-icT="2"
            data-cId="36896" data-clBg="f9f9f9" data-clTxt="001c3f" data-clLink="079ce0" data-txtDesc="0" data-fTemp="0"
            data-crPs="0" data-crWind="0" data-fr="1" data-wdh="100%" data-hIf="100%" data-d="//widgets.interia.pl"
            style="position:relative; width: 100%; color: #079ce0; background-color:#f9f9f9; text-align:center">
        </div>
        <script>
            !(function (t, n, e) {
                var r;
                t.getElementById(e) || (r = t.getElementsByTagName(n)[0], (t = t.createElement(n)).id = e, t.src =
                    "//w.iplsc.com/widget/weather-2.0.2.jssc", r.parentNode.appendChild(t))
            })(document, "script", "widget-js")
        </script>
        </div>
    </div>
</section>
