<section>
    <div class="container">
        <div class="row gx-md-5">
            <div class="col-md-5 pt-xsmall text-center text-md-left">
                <h2 class="h3 split-text-lines color-light-1 mt-4">
                    Sprawdź pogodę na spływ
                </h2> 
                <p class="split-text-lines color-light-2 mb-5">
                    Zobacz prognozę pogody dla Warki na najbliższe 5 dni. Zaplanuj swój spływ i zarezerwuj kajaki już dziś!
                </p>
                <div class="fade-in d-none d-md-flex">
                    <a href="/kontakt" title="Zarezerwuj kajaki" class="ka-button no-trans">
                        <span class="color-light-1">Zarezerwuj kajaki</span>
                        <svg class="btn-arrow" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m189.339509 19.360018h-13.356776l6.567085-6.2516062c.26517-.2611971.26517-.6512995 0-.912514-.265169-.2611971-.661205-.2611971-.926392 0l-7.226968 6.8607883c-.528611.5206922-.528611 1.3467136 0 1.8674058l7.228291 6.9029056c.132584.1305986.308218.1730025.440803.1730025.175633 0 .352986-.0865012.528611-.2170998.220402-.2611971.175634-.6954141-.087817-.9125139l-6.524327-6.2077521h13.356776c.352987 0 .661205-.303601.661205-.6512994s-.308218-.6512995-.661205-.6512995z" fill="#fff" transform="matrix(-1 0 0 1 190 -12)"></path></svg>
                    </a>
                </div>
            </div>
        <div class="offset-md-1 col-md-6 pt-xsmall fade bg-light-1 border-radius">
        <div id="inpl-weather-main" class="inpl-weather-main" data-langId="1" data-unitId="E" data-icT="2"
            data-cId="36896" data-clBg="ffffff" data-clTxt="001c3f" data-clLink="079ce0" data-txtDesc="1" data-fTemp="1"
            data-crPs="0" data-crWind="0" data-fr="1" data-wdh="100%" data-hIf="100%" data-d="//widgets.interia.pl"
            style="position:relative; width: 100%; color: #079ce0; background-color:#f9f9f9; border-radius:8px">
        </div>
        <script>
            !(function (t, n, e) {
                var r;
                t.getElementById(e) || (r = t.getElementsByTagName(n)[0], (t = t.createElement(n)).id = e, t.src =
                    "//w.iplsc.com/widget/weather-2.0.2.jssc", r.parentNode.appendChild(t))
            })(document, "script", "widget-js")
        </script>
        </div>
        </div>
    </div>
</section>
